<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Adidas</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="js/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="js/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="js/bootstrap-fileinput/css/fileinput.min.css">
    <link rel="stylesheet" href="js/bootstrap-fileinput/css/fileinput-rtl.min.css">
    <link rel="stylesheet" href="js/tempusdominus/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="css/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="js/rangeslider/rangeslider.css">
    <link rel="stylesheet" href="js/datatables/datatables.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
  </head>
  <body>
    <div class="over-wrapper">
      <div id="mobile-indicator"></div>
      <div id="sm-indicator"></div>
      <header>
        <div class="header-content">
          <div class="row">
            <div class="header-l">
              <div class="header-logo"><a href="/"><img src="images/logo.svg" alt="adidas"></a></div>
            </div>
            <div class="header-m">
              <div class="navbar-trigger"><span></span><span></span><span></span></div>
              <div class="navbar-wrapper">
                <div class="navbar-wrapper-inner">
                  <ul class="nav navbar-nav">
                    <li class="has-submenu"><a href="#"><span>Магазины</span></a></li>
                    <li class="has-submenu"><a href="#"><span>Офис</span></a>
                      <div class="submenu">
                        <div class="submenu-inner">
                          <div class="row">
                            <div class="submenu-descr">
                              <ul class="submenu-list">
                                <li><a href="#">the base fitness</a></li>
                                <li><a href="#">Маркетинг adidas</a></li>
                                <li><a href="#">Маркетинг reebok</a></li>
                                <li><a href="#">Дизайн и строительство</a></li>
                                <li><a href="#">Юридический отдел</a></li>
                                <li><a href="#">финансовый отдел</a></li>
                                <li><a href="#">логистика</a></li>
                                <li><a href="#">it-отдел</a></li>
                                <li><a href="#">управление персоналом</a></li>
                                <li><a href="#">отдел закупок</a></li>
                                <li><a href="#">коммерческий отдел</a></li>
                                <li><a href="#">поддержка фирменных магазинов</a></li>
                                <li><a href="#">Электронная торговля</a></li>
                              </ul>
                            </div>
                            <div class="submenu-pic" style="background-image: url(files/submenu-office-bg.jpg)"><img src="files/submenu-office-pic.jpg"></div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li><a href="#"><span>Центр дистрибуции</span></a></li>
                    <li class="has-submenu"><a href="#"><span>Обучение и&nbsp;развитие</span></a></li>
                    <li><a href="#"><span>О&nbsp;компании</span></a></li>
                    <li class="has-submenu"><a href="#"><span>Бренды</span></a></li>
                    <li><a href="#"><span>Контакты</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="header-r">
              <div class="header-fav"><a class="btn-header-fav" href="#">
                  <div class="ico"><img class="svg-inline" src="images/ico-btn-header-fav.svg"></div></a></div>
              <div class="header-button"><a class="btn btn-1 btn-1-small" href="#"><span>Все вакансии</span></a></div>
            </div>
          </div>
        </div>
      </header>
      <main>
        <div class="page-header">
          <div class="row">
            <div class="col-6">
              <div class="page-header-bg" style="background-image: url(files/page-header-bg-adidas-l.jpg)"></div>
            </div>
            <div class="col-6">
              <div class="page-header-bg" style="background-image: url(files/page-header-bg-adidas-r.jpg)"></div>
            </div>
          </div>
        </div>
        <div class="page-body page-body-black">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="page-sidebar"></div>
              </div>
              <div class="col-12 col-md-8 offset-md-1">
                <div class="page-content-wrapper page-content-wrapper-black">
                  <ul class="breadcrumb">
                    <li><a href="#">Adidas</a></li>
                    <li><a href="#">Бренды</a></li>
                    <li><span>Adidas</span></li>
                  </ul>
                  <div class="page-title">
                    <h1>Adidas. бренд, с&nbsp;которого всё началось</h1>
                  </div>
                  <div class="page-content">
                    <p>В течение семи десятилетий мы смотрели на то, как одеваются люди на кортах, дорожках и игровых площадках. Мы неустанно работали, чтобы улучшить это. Это то, что волнует нас каждый день по-новому: менять и формировать будущее спорта. Потому что мы верим, что спорт меняет жизнь к лучшему.</p>
                    <h3>как мы&nbsp;влияем на&nbsp;будущее спорта?</h3>
                    <p>Ади Дасслер, уроженец Херцогенаураха, начал настоящую революцию в&nbsp;спорте в&nbsp;1948&nbsp;году, когда мир был разломан. Он&nbsp;начал с&nbsp;видения и&nbsp;превратил его в&nbsp;бизнес. Сегодня миллионы спортсменов и&nbsp;любителей моды по&nbsp;всему миру объединяются. Наша цель&nbsp;&mdash; удовлетворить и&nbsp;улучшить их&nbsp;потребности, создавая для них лучшие продукты.</p>
                    <div class="block-wide">
                      <div class="blockquote-alt-wrapper">
                        <div class="blockquote-alt-pics">
                          <div class="row">
                            <div class="col-6"><img src="files/blockquote-adidas-1.jpg"></div>
                            <div class="col-6"><img src="files/blockquote-adidas-2.jpg"></div>
                          </div>
                        </div>
                        <blockquote class="blockquote-alt blockquote-alt-alt">
                          <div class="blockquote-alt-content">
                            <div class="blockquote-alt-text">
                              <p>Мы гордимся наследием, изменившим игру, которое дал нам Ади Даслер. Гений изобретательства все ещё течет через нашу компанию. Но мы также усовершенствовали его следы, объединившись в одну глобальную и разнообразную команду, отличающуюся своей индвидуальностью.</p>
                            </div>
                          </div>
                        </blockquote>
                      </div>
                    </div>
                    <p>Наши сотрудники по всему миру — творцы, производители и продавцы. Но что более важно, все они являются создателями — это лучшая инвестиция в инновации, которую мы можем себе представить. Мы движимы эмоциями и функциональностью. Мы исследуем, выполняем и разрабатываем. И мы оказываем влияние, развивая предыдущее, какой бы ни была спортивная дисциплина, будь то передовое подразделение Performance или подразделение модного стиля.</p>
                    <p><strong>Говоря о будущем: мы приглашаем всех спортсменов, создателей и мыслителей стать частью нашего движения. Звучит утопично? Да правильно. Но мы искренне верим, что вместе мы сможем построить лучшее завтра.</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="container">
          <div class="footer-content">
            <div class="footer-top">
              <div class="footer-ttl">
                <p>прямо сейчас мы&nbsp;предлагаем<br><span class="footer-green">932 вакансии</span> в&nbsp;<span class="footer-blue">42&nbsp;городах</span> страны</p>
              </div>
              <div class="footer-button"><a class="btn btn-1" href="#">Посмотреть все вакансии</a></div>
            </div>
            <div class="footer-bottom">
              <div class="h3">Меняем жизнь через спорт</div>
              <div class="footer-soclinks"><a class="footer-soclink" href="#"><img class="svg-inline" src="images/ico-footer-vk.svg"></a><a class="footer-soclink" href="#"><img class="svg-inline" src="images/ico-footer-fb.svg"></a><a class="footer-soclink" href="#"><img class="svg-inline" src="images/ico-footer-instagram.svg"></a></div>
              <div class="footer-copy">
                <div class="footer-copy-item">
                  <p>&copy;&nbsp;Adidas 2019. Все права защищены</p>
                </div>
                <div class="footer-copy-item">
                  <p><a href="#">Политика конфиденциальности</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="popup story-popup" id="storyPopup">
        <div class="popup-backdrop"></div>
        <div class="close"></div>
        <div class="popup-inner-wrapper">
          <div class="popup-inner-scroll">
            <div class="popup-inner"></div>
          </div>
        </div>
      </div>
      <div class="modal fade form-modal order-modal" id="orderModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2">Оставить заявку</div>
              <p>Оставьте заявку, наш специалист свяжется с&nbsp;Вами в&nbsp;течении 15&nbsp;мин!</p>
            </div>
            <div class="modal-body">
              <div class="form-alt">
                <form id="orderForm">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_order_name">Ваше имя</label>
                        <input type="text" name="modal_order_name" id="modal_order_name" required>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_order_phone">Телефон</label>
                        <input class="input-phone" type="text" name="modal_order_phone" id="modal_order_phone" required>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-footer">
                        <button class="btn btn-2" type="submit"><span>Отправить заявку</span></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade form-modal order-modal" id="bankModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2">Оставить заявку</div>
              <p>Оставьте заявку, наш специалист свяжется с&nbsp;Вами в&nbsp;течении 15&nbsp;мин!</p>
            </div>
            <div class="modal-body">
              <div class="form-alt">
                <form id="bankForm">
                  <input type="hidden" name="modal_bank_bank" id="modal_bank_bank">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_bank_name">Ваше имя</label>
                        <input type="text" name="modal_bank_name" id="modal_bank_name" required>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_bank_phone">Телефон</label>
                        <input class="input-phone" type="text" name="modal_bank_phone" id="modal_bank_phone" required>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-footer">
                        <button class="btn btn-2" type="submit"><span>Отправить заявку</span></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade form-modal" id="teamModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2">Задать вопрос</div>
              <p>Оставьте заявку, наш специалист свяжется с&nbsp;Вами в&nbsp;течении 15&nbsp;мин!</p>
            </div>
            <div class="modal-body">
              <div class="form-alt">
                <form id="teamForm">
                  <input type="hidden" name="modal_team_person" id="modal_team_person">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_team_name">Ваше имя</label>
                        <input type="text" name="modal_team_name" id="modal_team_name" required>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_team_phone">Телефон</label>
                        <input class="input-phone" type="text" name="modal_team_phone" id="modal_team_phone" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="modal_team_message">Сообщение</label>
                        <textarea name="modal_team_message" id="modal_team_message" rows="4"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-footer">
                        <button class="btn btn-2" type="submit"><span>Отправить</span></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade form-modal callback-modal" id="callbackModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2">Заказать звонок</div>
            </div>
            <div class="modal-body">
              <p>Оставьте свои данные и&nbsp;наш специалист свяжется с&nbsp;вами в&nbsp;течение 15&nbsp;минут</p>
              <div class="modal-form callback-form">
                <form>
                  <div class="form-group">
                    <label class="placeholder" for="callback_name">Ваше имя</label>
                    <input type="text" name="callback_name" id="callback_name" required>
                  </div>
                  <div class="form-group">
                    <label class="placeholder" for="callback_phone">+7 (___) ___-__-__</label>
                    <input class="input-phone" type="text" name="callback_phone" id="callback_phone" required>
                  </div>
                  <div class="form-footer">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <button class="btn btn-2 btn-small" type="submit"><span>Отправить</span></button>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-agree">
                          <p>Нажимая кнопку «Отправить», Вы даете свое согласие с&nbsp;<a href="#">политикой конфиденциальности</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade client-modal" id="clientModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body"></div>
          </div>
        </div>
      </div>
      <div class="modal fade client-modal" id="addressModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body"></div>
            <div id="map"></div>
          </div>
        </div>
      </div>
      <div class="modal fade success-modal" id="successModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2"><span>Ваша заявка успешно принята!</span></div>
              <div class="text">
                <p>Перезвоним в течение 15 минут</p>
              </div>
            </div>
            <div class="modal-body">
              <div class="success-modal-button">
                <button class="btn btn-2" type="button" data-dismiss="modal" aria-label="Close">Закрыть</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="js/jquery-3.3.1.min.js"></script>
      <script src="js/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="js/bootstrap-select.min.js"></script>
      <script src="js/jquery.validate.min.js"></script>
      <script src="js/additional-methods.min.js"></script>
      <script src="js/jquery.maskedinput.min.js"></script>
      <script src="js/wNumb.min.js"></script>
      <script src="js/slick.min.js"></script>
      <script src="js/fancybox/jquery.fancybox.min.js"></script>
      <script src="js/bootstrap-fileinput/js/fileinput.min.js"></script>
      <script src="js/jquery.mousewheel.js"></script>
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/moment-with-locales.js"></script>
      <script src="js/tempusdominus/tempusdominus-bootstrap-4.min.js"></script>
      <script src="js/greensock/TweenMax.min.js"></script>
      <script src="js/greensock/plugins/CSSRulePlugin.min.js"></script>
      <script src="js/greensock/plugins/ScrollToPlugin.min.js"></script>
      <script src="js/iscroll-probe.js"></script>
      <script src="js/scrollmagic/ScrollMagic.min.js"></script>
      <script src="js/scrollmagic/plugins/animation.gsap.min.js"></script>
      <script src="js/jquery-svg-to-inline.js"></script>
      <script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
      <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=cefbc555-bed0-48f8-b6ad-23f808b12244"></script>
      <script src="js/main.js"></script>
      <script src="js/stores-map.js"></script>
    </div>
  </body>
</html>