<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Adidas</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="js/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="js/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="js/bootstrap-fileinput/css/fileinput.min.css">
    <link rel="stylesheet" href="js/bootstrap-fileinput/css/fileinput-rtl.min.css">
    <link rel="stylesheet" href="js/tempusdominus/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="css/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="js/rangeslider/rangeslider.css">
    <link rel="stylesheet" href="js/datatables/datatables.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
  </head>
  <body>
    <div class="over-wrapper">
      <div id="mobile-indicator"></div>
      <div id="sm-indicator"></div>
      <header>
        <div class="header-content">
          <div class="row">
            <div class="header-l">
              <div class="header-logo"><a href="/"><img src="images/logo.svg" alt="adidas"></a></div>
            </div>
            <div class="header-m">
              <div class="navbar-trigger"><span></span><span></span><span></span></div>
              <div class="navbar-wrapper">
                <div class="navbar-wrapper-inner">
                  <ul class="nav navbar-nav">
                    <li class="has-submenu"><a href="#"><span>Магазины</span></a></li>
                    <li class="has-submenu"><a href="#"><span>Офис</span></a>
                      <div class="submenu">
                        <div class="submenu-inner">
                          <div class="row">
                            <div class="submenu-descr">
                              <ul class="submenu-list">
                                <li><a href="#">the base fitness</a></li>
                                <li><a href="#">Маркетинг adidas</a></li>
                                <li><a href="#">Маркетинг reebok</a></li>
                                <li><a href="#">Дизайн и строительство</a></li>
                                <li><a href="#">Юридический отдел</a></li>
                                <li><a href="#">финансовый отдел</a></li>
                                <li><a href="#">логистика</a></li>
                                <li><a href="#">it-отдел</a></li>
                                <li><a href="#">управление персоналом</a></li>
                                <li><a href="#">отдел закупок</a></li>
                                <li><a href="#">коммерческий отдел</a></li>
                                <li><a href="#">поддержка фирменных магазинов</a></li>
                                <li><a href="#">Электронная торговля</a></li>
                              </ul>
                            </div>
                            <div class="submenu-pic" style="background-image: url(files/submenu-office-bg.jpg)"><img src="files/submenu-office-pic.jpg"></div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li><a href="#"><span>Центр дистрибуции</span></a></li>
                    <li class="has-submenu"><a href="#"><span>Обучение и&nbsp;развитие</span></a></li>
                    <li><a href="#"><span>О&nbsp;компании</span></a></li>
                    <li class="has-submenu"><a href="#"><span>Бренды</span></a></li>
                    <li><a href="#"><span>Контакты</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="header-r">
              <div class="header-fav"><a class="btn-header-fav" href="#">
                  <div class="ico"><img class="svg-inline" src="images/ico-btn-header-fav.svg"></div></a></div>
              <div class="header-button"><a class="btn btn-1 btn-1-small" href="#"><span>Все вакансии</span></a></div>
            </div>
          </div>
        </div>
      </header>
      <main>
        <!-- Верхний блок-->
        <div class="section section-top">
          <div class="section-top-bg section-top-bg-l" style="background:url(files/section-top-bg-l.jpg);"></div>
          <div class="section-top-bg section-top-bg-r" style="background:url(files/section-top-bg-r.jpg);"></div>
          <div class="container">
            <div class="section-content">
              <div class="section-top-ttl">
                <div class="h1">Присоединяйся к&nbsp;команде adidas</div>
              </div>
              <div class="section-top-links">
                <div class="row">
                  <div class="col-12 col-md-4">
                    <div class="h3">Фирменные магазины</div><a class="btn btn-1" href="#">Заполнить анкету</a>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="h3">Офис</div><a class="btn btn-1" href="#">Заполнить анкету</a>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="h3">Центр дистрибуции</div><a class="btn btn-1" href="#">Заполнить анкету</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Верхний блок END-->
        <!-- 6 причин-->
        <div class="section section-reasons">
          <div class="container">
            <div class="section-content">
              <div class="h2">6&nbsp;причин работать с&nbsp;нами</div>
              <div class="reasons-slider-tabs">
                <div class="reasons-slider-tabs-item">
                  <div class="num">1</div>
                  <div class="ttl">Перемены</div>
                </div>
                <div class="reasons-slider-tabs-item">
                  <div class="num">2</div>
                  <div class="ttl">Карьера</div>
                </div>
                <div class="reasons-slider-tabs-item">
                  <div class="num">3</div>
                  <div class="ttl">Пространство</div>
                </div>
                <div class="reasons-slider-tabs-item">
                  <div class="num">4</div>
                  <div class="ttl">Многогранность</div>
                </div>
                <div class="reasons-slider-tabs-item">
                  <div class="num">5</div>
                  <div class="ttl">Забота</div>
                </div>
                <div class="reasons-slider-tabs-item">
                  <div class="num">6</div>
                  <div class="ttl">Окружение</div>
                </div>
              </div>
              <div class="reasons-slider-wrapper">
                <div class="reasons-slider">
                  <div class="slide">
                    <div class="reasons-item">
                      <div class="row">
                        <div class="col-12 col-md-7">
                          <div class="reasons-item-pic">
                            <div class="reasons-item-pic-back"><img src="files/reason-1-back.jpg"></div>
                            <div class="reasons-item-pic-front"><img src="files/reason-1-front.jpg"></div>
                          </div>
                        </div>
                        <div class="col-12 col-md-5">
                          <div class="reasons-item-descr">
                            <div class="h3"><strong>Меняем жизнь</strong><br>через спорт</div>
                            <p>Мы&nbsp;формируем будущее спорта, потому что верим, что спорт способен изменить жизнь к&nbsp;лучшему. Спорт дает силу, уверенность и&nbsp;позволяет найти друзей на&nbsp;всю жизнь. Он&nbsp;помогает бороться с&nbsp;болезнями и&nbsp;депрессией, делает нас сильнее.</p>
                            <p>Мы&nbsp;видим будущее там, где спорт и&nbsp;фитнес помогают получать удовольствие от&nbsp;жизни, раскрывать свой потенциал и&nbsp;достигать поставленных целей. Если ты&nbsp;хочешь помочь людям изменить жизнь через спорт, то&nbsp;мы&nbsp;ждем тебя!</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="slide">
                    <div class="reasons-item">
                      <div class="row">
                        <div class="col-12 col-md-7">
                          <div class="reasons-item-pic">
                            <div class="reasons-item-pic-back"><img src="files/reason-2-back.jpg"></div>
                            <div class="reasons-item-pic-front"><img src="files/reason-2-front.jpg"></div>
                          </div>
                        </div>
                        <div class="col-12 col-md-5">
                          <div class="reasons-item-descr">
                            <div class="h3"><strong>Карьера</strong><br>через спорт</div>
                            <p>Мы&nbsp;формируем будущее спорта, потому что верим, что спорт способен изменить жизнь к&nbsp;лучшему. Спорт дает силу, уверенность и&nbsp;позволяет найти друзей на&nbsp;всю жизнь. Он&nbsp;помогает бороться с&nbsp;болезнями и&nbsp;депрессией, делает нас сильнее.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="slide">
                    <div class="reasons-item">
                      <div class="row">
                        <div class="col-12 col-md-7">
                          <div class="reasons-item-pic">
                            <div class="reasons-item-pic-back"><img src="files/reason-1-back.jpg"></div>
                            <div class="reasons-item-pic-front"><img src="files/reason-1-front.jpg"></div>
                          </div>
                        </div>
                        <div class="col-12 col-md-5">
                          <div class="reasons-item-descr">
                            <div class="h3"><strong>Пространство</strong><br>через спорт</div>
                            <p>Мы&nbsp;формируем будущее спорта, потому что верим, что спорт способен изменить жизнь к&nbsp;лучшему. Спорт дает силу, уверенность и&nbsp;позволяет найти друзей на&nbsp;всю жизнь. Он&nbsp;помогает бороться с&nbsp;болезнями и&nbsp;депрессией, делает нас сильнее.</p>
                            <p>Мы&nbsp;видим будущее там, где спорт и&nbsp;фитнес помогают получать удовольствие от&nbsp;жизни, раскрывать свой потенциал и&nbsp;достигать поставленных целей. Если ты&nbsp;хочешь помочь людям изменить жизнь через спорт, то&nbsp;мы&nbsp;ждем тебя!</p>
                            <p>Мы&nbsp;видим будущее там, где спорт и&nbsp;фитнес помогают получать удовольствие от&nbsp;жизни, раскрывать свой потенциал и&nbsp;достигать поставленных целей. Если ты&nbsp;хочешь помочь людям изменить жизнь через спорт, то&nbsp;мы&nbsp;ждем тебя!</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="slide">
                    <div class="reasons-item">
                      <div class="row">
                        <div class="col-12 col-md-7">
                          <div class="reasons-item-pic">
                            <div class="reasons-item-pic-back"><img src="files/reason-2-back.jpg"></div>
                            <div class="reasons-item-pic-front"><img src="files/reason-2-front.jpg"></div>
                          </div>
                        </div>
                        <div class="col-12 col-md-5">
                          <div class="reasons-item-descr">
                            <div class="h3"><strong>Многогранность</strong><br>через спорт</div>
                            <p>Мы&nbsp;формируем будущее спорта, потому что верим, что спорт способен изменить жизнь к&nbsp;лучшему. Спорт дает силу, уверенность и&nbsp;позволяет найти друзей на&nbsp;всю жизнь. Он&nbsp;помогает бороться с&nbsp;болезнями и&nbsp;депрессией, делает нас сильнее.</p>
                            <p>Мы&nbsp;видим будущее там, где спорт и&nbsp;фитнес помогают получать удовольствие от&nbsp;жизни, раскрывать свой потенциал и&nbsp;достигать поставленных целей. Если ты&nbsp;хочешь помочь людям изменить жизнь через спорт, то&nbsp;мы&nbsp;ждем тебя!</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="slide">
                    <div class="reasons-item">
                      <div class="row">
                        <div class="col-12 col-md-7">
                          <div class="reasons-item-pic">
                            <div class="reasons-item-pic-back"><img src="files/reason-1-back.jpg"></div>
                            <div class="reasons-item-pic-front"><img src="files/reason-1-front.jpg"></div>
                          </div>
                        </div>
                        <div class="col-12 col-md-5">
                          <div class="reasons-item-descr">
                            <div class="h3"><strong>Забота</strong><br>через спорт</div>
                            <p>Мы&nbsp;формируем будущее спорта, потому что верим, что спорт способен изменить жизнь к&nbsp;лучшему. Спорт дает силу, уверенность и&nbsp;позволяет найти друзей на&nbsp;всю жизнь. Он&nbsp;помогает бороться с&nbsp;болезнями и&nbsp;депрессией, делает нас сильнее.</p>
                            <p>Мы&nbsp;видим будущее там, где спорт и&nbsp;фитнес помогают получать удовольствие от&nbsp;жизни, раскрывать свой потенциал и&nbsp;достигать поставленных целей. Если ты&nbsp;хочешь помочь людям изменить жизнь через спорт, то&nbsp;мы&nbsp;ждем тебя!</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="slide">
                    <div class="reasons-item">
                      <div class="row">
                        <div class="col-12 col-md-7">
                          <div class="reasons-item-pic">
                            <div class="reasons-item-pic-back"><img src="files/reason-2-back.jpg"></div>
                            <div class="reasons-item-pic-front"><img src="files/reason-2-front.jpg"></div>
                          </div>
                        </div>
                        <div class="col-12 col-md-5">
                          <div class="reasons-item-descr">
                            <div class="h3"><strong>Окружение</strong><br>через спорт</div>
                            <p>Мы&nbsp;формируем будущее спорта, потому что верим, что спорт способен изменить жизнь к&nbsp;лучшему. Спорт дает силу, уверенность и&nbsp;позволяет найти друзей на&nbsp;всю жизнь. Он&nbsp;помогает бороться с&nbsp;болезнями и&nbsp;депрессией, делает нас сильнее.</p>
                            <p>Мы&nbsp;видим будущее там, где спорт и&nbsp;фитнес помогают получать удовольствие от&nbsp;жизни, раскрывать свой потенциал и&nbsp;достигать поставленных целей. Если ты&nbsp;хочешь помочь людям изменить жизнь через спорт, то&nbsp;мы&nbsp;ждем тебя!</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="reasons-slider-nav">
                  <div class="reasons-slider-arrows">
                    <div class="reasons-slider-prev">
                      <div class="arrow-tip"><img class="svg-inline" src="images/arrow-tip-prev.svg"></div>
                    </div>
                    <div class="reasons-slider-next">
                      <div class="arrow-tip"><img class="svg-inline" src="images/arrow-tip-next.svg"></div>
                    </div>
                  </div>
                  <div class="reasons-slider-nav-count"><span class="cur"></span>/<span class="total"></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 6 причин END-->
        <!-- Работа в магазине-->
        <div class="section section-dept section-grey">
          <div class="container">
            <div class="section-content">
              <div class="dept-teaser">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-7">
                    <div class="dept-teaser-pic"><img src="files/dept-1.jpg"></div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-5">
                    <div class="dept-teaser-descr">
                      <div class="h2">Работай в&nbsp;фирменном магазине adidas</div>
                      <p>Мы&nbsp;видим будущее там, где спорт и&nbsp;фитнес помогают получать удовольствие от&nbsp;жизни, раскрывать свой потенциал и&nbsp;достигать поставленных целей.</p>
                      <div class="dept-teaser-button"><a class="btn btn-1" href="#">о&nbsp;карьере в&nbsp;фирменных магазинах</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="h3">Последние вакансии</div>
              <div class="vac-list vac-list-alt">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-4"><a class="vac-tmb" href="#">
                      <div class="vac-tmb-header">
                        <div class="h3">специалист по сервису (продавец-консультант) в дисконт-центр</div>
                        <div class="vac-tmb-fav"><img class="svg-inline" src="images/ico-fav.svg"></div>
                      </div>
                      <div class="vac-tmb-footer">
                        <div class="vac-tmb-place">
                          <p>Фирменный магазин, Москва</p>
                        </div>
                        <div class="vac-tmb-logo"><img src="images/logo-adidas.svg"></div>
                      </div></a></div>
                  <div class="col-12 col-md-6 col-lg-4"><a class="vac-tmb" href="#">
                      <div class="vac-tmb-header">
                        <div class="h3">инструктор по бегу</div>
                        <div class="vac-tmb-fav"><img class="svg-inline" src="images/ico-fav.svg"></div>
                      </div>
                      <div class="vac-tmb-footer">
                        <div class="vac-tmb-place">
                          <p>Фирменный магазин, Москва</p>
                        </div>
                        <div class="vac-tmb-logo"><img src="images/logo-reebok.svg"></div>
                      </div></a></div>
                  <div class="col-12 col-md-6 col-lg-4"><a class="vac-tmb" href="#">
                      <div class="vac-tmb-header">
                        <div class="h3">специалист по фитнесу (продавец-консультант)</div>
                        <div class="vac-tmb-fav"><img class="svg-inline" src="images/ico-fav.svg"></div>
                      </div>
                      <div class="vac-tmb-footer">
                        <div class="vac-tmb-place">
                          <p>Фирменный магазин, Москва</p>
                        </div>
                        <div class="vac-tmb-logo"><img src="images/logo-adidas.svg"></div>
                      </div></a></div>
                </div>
              </div>
              <div class="all-link-wrapper"><a class="btn btn-2" href="#">Все вакансии в магазинах</a></div>
            </div>
          </div>
        </div>
        <!-- Работа в магазине END-->
        <!-- Работа в офисе-->
        <div class="section section-dept section-white">
          <div class="container">
            <div class="section-content">
              <div class="dept-teaser">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-7">
                    <div class="dept-teaser-pic"><img src="files/dept-2.jpg"></div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-5">
                    <div class="dept-teaser-descr">
                      <div class="h2">Выбери отдел в&nbsp;офисе, где ты&nbsp;будешь творцом</div>
                      <p>Мы&nbsp;видим будущее там, где спорт и&nbsp;фитнес помогают получать удовольствие от&nbsp;жизни, раскрывать свой потенциал и&nbsp;достигать поставленных целей.</p>
                      <div class="dept-teaser-button"><a class="btn btn-1" href="#">о&nbsp;карьере в&nbsp;офисе</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="h3">Последние вакансии</div>
              <div class="vac-list vac-list-alt">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-4"><a class="vac-tmb" href="#">
                      <div class="vac-tmb-header">
                        <div class="h3">специалист по сервису (продавец-консультант) в дисконт-центр</div>
                        <div class="vac-tmb-fav"><img class="svg-inline" src="images/ico-fav.svg"></div>
                      </div>
                      <div class="vac-tmb-footer">
                        <div class="vac-tmb-place">
                          <p>Фирменный магазин, Москва</p>
                        </div>
                        <div class="vac-tmb-logo"><img src="images/logo-adidas.svg"></div>
                      </div></a></div>
                  <div class="col-12 col-md-6 col-lg-4"><a class="vac-tmb" href="#">
                      <div class="vac-tmb-header">
                        <div class="h3">инструктор по бегу</div>
                        <div class="vac-tmb-fav"><img class="svg-inline" src="images/ico-fav.svg"></div>
                      </div>
                      <div class="vac-tmb-footer">
                        <div class="vac-tmb-place">
                          <p>Фирменный магазин, Москва</p>
                        </div>
                        <div class="vac-tmb-logo"><img src="images/logo-reebok.svg"></div>
                      </div></a></div>
                  <div class="col-12 col-md-6 col-lg-4"><a class="vac-tmb" href="#">
                      <div class="vac-tmb-header">
                        <div class="h3">специалист по фитнесу (продавец-консультант)</div>
                        <div class="vac-tmb-fav"><img class="svg-inline" src="images/ico-fav.svg"></div>
                      </div>
                      <div class="vac-tmb-footer">
                        <div class="vac-tmb-place">
                          <p>Фирменный магазин, Москва</p>
                        </div>
                        <div class="vac-tmb-logo"><img src="images/logo-adidas.svg"></div>
                      </div></a></div>
                </div>
              </div>
              <div class="all-link-wrapper"><a class="btn btn-2" href="#">Все вакансии в магазинах</a></div>
            </div>
          </div>
        </div>
        <!-- Работа в офисе END-->
        <!-- Работа в центре дистрибуции-->
        <div class="section section-dept section-grey">
          <div class="container">
            <div class="section-content">
              <div class="dept-teaser">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-7">
                    <div class="dept-teaser-pic"><img src="files/dept-3.jpg"></div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-5">
                    <div class="dept-teaser-descr">
                      <div class="h2">Реализуй себя в&nbsp;логистике в&nbsp;центре дистрибуции</div>
                      <p>Мы&nbsp;видим будущее там, где спорт и&nbsp;фитнес помогают получать удовольствие от&nbsp;жизни, раскрывать свой потенциал и&nbsp;достигать поставленных целей.</p>
                      <div class="dept-teaser-button"><a class="btn btn-1" href="#">о&nbsp;карьере в&nbsp;центре дистрибуции</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="h3">Последние вакансии</div>
              <div class="vac-list vac-list-alt">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-4"><a class="vac-tmb" href="#">
                      <div class="vac-tmb-header">
                        <div class="h3">специалист по сервису (продавец-консультант) в дисконт-центр</div>
                        <div class="vac-tmb-fav"><img class="svg-inline" src="images/ico-fav.svg"></div>
                      </div>
                      <div class="vac-tmb-footer">
                        <div class="vac-tmb-place">
                          <p>Фирменный магазин, Москва</p>
                        </div>
                        <div class="vac-tmb-logo"><img src="images/logo-adidas.svg"></div>
                      </div></a></div>
                  <div class="col-12 col-md-6 col-lg-4"><a class="vac-tmb" href="#">
                      <div class="vac-tmb-header">
                        <div class="h3">инструктор по бегу</div>
                        <div class="vac-tmb-fav"><img class="svg-inline" src="images/ico-fav.svg"></div>
                      </div>
                      <div class="vac-tmb-footer">
                        <div class="vac-tmb-place">
                          <p>Фирменный магазин, Москва</p>
                        </div>
                        <div class="vac-tmb-logo"><img src="images/logo-reebok.svg"></div>
                      </div></a></div>
                  <div class="col-12 col-md-6 col-lg-4"><a class="vac-tmb" href="#">
                      <div class="vac-tmb-header">
                        <div class="h3">специалист по фитнесу (продавец-консультант)</div>
                        <div class="vac-tmb-fav"><img class="svg-inline" src="images/ico-fav.svg"></div>
                      </div>
                      <div class="vac-tmb-footer">
                        <div class="vac-tmb-place">
                          <p>Фирменный магазин, Москва</p>
                        </div>
                        <div class="vac-tmb-logo"><img src="images/logo-adidas.svg"></div>
                      </div></a></div>
                </div>
              </div>
              <div class="all-link-wrapper"><a class="btn btn-2" href="#">Все вакансии в магазинах</a></div>
            </div>
          </div>
        </div>
        <!-- Работа в центре дистрибуции END-->
        <!-- Новости-->
        <div class="section section-news section-white">
          <div class="container">
            <div class="section-content">
              <div class="h2">Новости и&nbsp;статьи</div>
              <div class="section-sub-ttl">
                <p>Познакомьтесь с&nbsp;нами и&nbsp;тем, что мы&nbsp;узнали о&nbsp;переосмыслении корпоративной культуры</p>
              </div>
              <div class="news-list news-list-alt">
                <div class="row">
                  <div class="col-12 col-md-8">
                    <div class="news-tmb news-tmb-big"><a class="news-tmb-pic" href="#"><img src="files/news-1-tmb.jpg"></a>
                      <div class="news-tmb-descr">
                        <ul class="news-tmb-tags">
                          <li><a href="#">Советы</a></li>
                          <li><a href="#">Стажировка</a></li>
                        </ul><a href="#">
                          <div class="h3">5&nbsp;советов, которые помогут получить стажировку вашей мечты</div>
                          <div class="div news-tmb-date">12 апреля 2019</div></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="news-tmb"><a class="news-tmb-pic" href="#"><img src="files/news-2-tmb.jpg"></a>
                      <div class="news-tmb-descr">
                        <ul class="news-tmb-tags">
                          <li><a href="#">Советы</a></li>
                          <li><a href="#">Интервью</a></li>
                          <li><a href="#">Собеседование</a></li>
                        </ul><a href="#">
                          <div class="h3">Как удалённо проходить видео-интервью</div>
                          <div class="div news-tmb-date">25 июля 2019</div></a>
                      </div>
                    </div>
                    <div class="news-tmb"><a class="news-tmb-pic" href="#"><img src="files/news-3-tmb.jpg"></a>
                      <div class="news-tmb-descr">
                        <ul class="news-tmb-tags">
                          <li><a href="#">Советы</a></li>
                          <li><a href="#">Карьера</a></li>
                        </ul><a href="#">
                          <div class="h3">Как сформировать карьеру в&nbsp;постоянно меняющейся среде</div>
                          <div class="div news-tmb-date">31 июля 2019</div></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="all-link-wrapper-alt"><a class="btn btn-2" href="#">Все новости и статьи</a></div>
            </div>
          </div>
        </div>
        <!-- Новости END-->
        <!-- Разделы-->
        <div class="section section-cats section-grey">
          <div class="container">
            <div class="section-content">
              <div class="cats-list">
                <div class="row">
                  <div class="col-12 col-md-6"><a class="cat-tmb" href="#">
                      <div class="cat-tmb-pic" style="background-image: url(files/cat-1.jpg);"></div>
                      <div class="cat-tmb-descr">
                        <div class="h3">Обучение в&nbsp;Adidas</div>
                        <p>Обучение и&nbsp;развитие сотрудников&nbsp;&mdash; наш приоритет</p>
                        <div class="cat-tmb-button">
                          <div class="btn btn-4">Подробнее об обучении</div>
                        </div>
                      </div></a></div>
                  <div class="col-12 col-md-6"><a class="cat-tmb" href="#">
                      <div class="cat-tmb-pic" style="background-image: url(files/cat-2.jpg);"></div>
                      <div class="cat-tmb-descr">
                        <div class="h3">Истории успеха</div>
                        <p>Вдохновляющие истории тех, кто сделал своё будущее</p>
                        <div class="cat-tmb-button">
                          <div class="btn btn-4">Читать истории</div>
                        </div>
                      </div></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Разделы END-->
      </main>
      <footer>
        <div class="container">
          <div class="footer-content">
            <div class="footer-top">
              <div class="footer-ttl">
                <p>прямо сейчас мы&nbsp;предлагаем<br><span class="footer-green">932 вакансии</span> в&nbsp;<span class="footer-blue">42&nbsp;городах</span> страны</p>
              </div>
              <div class="footer-button"><a class="btn btn-1" href="#">Посмотреть все вакансии</a></div>
            </div>
            <div class="footer-bottom">
              <div class="h3">Меняем жизнь через спорт</div>
              <div class="footer-soclinks"><a class="footer-soclink" href="#"><img class="svg-inline" src="images/ico-footer-vk.svg"></a><a class="footer-soclink" href="#"><img class="svg-inline" src="images/ico-footer-fb.svg"></a><a class="footer-soclink" href="#"><img class="svg-inline" src="images/ico-footer-instagram.svg"></a></div>
              <div class="footer-copy">
                <div class="footer-copy-item">
                  <p>&copy;&nbsp;Adidas 2019. Все права защищены</p>
                </div>
                <div class="footer-copy-item">
                  <p><a href="#">Политика конфиденциальности</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="popup story-popup" id="storyPopup">
        <div class="popup-backdrop"></div>
        <div class="close"></div>
        <div class="popup-inner-wrapper">
          <div class="popup-inner-scroll">
            <div class="popup-inner"></div>
          </div>
        </div>
      </div>
      <div class="modal fade form-modal order-modal" id="orderModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2">Оставить заявку</div>
              <p>Оставьте заявку, наш специалист свяжется с&nbsp;Вами в&nbsp;течении 15&nbsp;мин!</p>
            </div>
            <div class="modal-body">
              <div class="form-alt">
                <form id="orderForm">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_order_name">Ваше имя</label>
                        <input type="text" name="modal_order_name" id="modal_order_name" required>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_order_phone">Телефон</label>
                        <input class="input-phone" type="text" name="modal_order_phone" id="modal_order_phone" required>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-footer">
                        <button class="btn btn-2" type="submit"><span>Отправить заявку</span></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade form-modal order-modal" id="bankModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2">Оставить заявку</div>
              <p>Оставьте заявку, наш специалист свяжется с&nbsp;Вами в&nbsp;течении 15&nbsp;мин!</p>
            </div>
            <div class="modal-body">
              <div class="form-alt">
                <form id="bankForm">
                  <input type="hidden" name="modal_bank_bank" id="modal_bank_bank">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_bank_name">Ваше имя</label>
                        <input type="text" name="modal_bank_name" id="modal_bank_name" required>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_bank_phone">Телефон</label>
                        <input class="input-phone" type="text" name="modal_bank_phone" id="modal_bank_phone" required>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-footer">
                        <button class="btn btn-2" type="submit"><span>Отправить заявку</span></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade form-modal" id="teamModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2">Задать вопрос</div>
              <p>Оставьте заявку, наш специалист свяжется с&nbsp;Вами в&nbsp;течении 15&nbsp;мин!</p>
            </div>
            <div class="modal-body">
              <div class="form-alt">
                <form id="teamForm">
                  <input type="hidden" name="modal_team_person" id="modal_team_person">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_team_name">Ваше имя</label>
                        <input type="text" name="modal_team_name" id="modal_team_name" required>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_team_phone">Телефон</label>
                        <input class="input-phone" type="text" name="modal_team_phone" id="modal_team_phone" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="modal_team_message">Сообщение</label>
                        <textarea name="modal_team_message" id="modal_team_message" rows="4"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-footer">
                        <button class="btn btn-2" type="submit"><span>Отправить</span></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade form-modal callback-modal" id="callbackModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2">Заказать звонок</div>
            </div>
            <div class="modal-body">
              <p>Оставьте свои данные и&nbsp;наш специалист свяжется с&nbsp;вами в&nbsp;течение 15&nbsp;минут</p>
              <div class="modal-form callback-form">
                <form>
                  <div class="form-group">
                    <label class="placeholder" for="callback_name">Ваше имя</label>
                    <input type="text" name="callback_name" id="callback_name" required>
                  </div>
                  <div class="form-group">
                    <label class="placeholder" for="callback_phone">+7 (___) ___-__-__</label>
                    <input class="input-phone" type="text" name="callback_phone" id="callback_phone" required>
                  </div>
                  <div class="form-footer">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <button class="btn btn-2 btn-small" type="submit"><span>Отправить</span></button>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-agree">
                          <p>Нажимая кнопку «Отправить», Вы даете свое согласие с&nbsp;<a href="#">политикой конфиденциальности</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade client-modal" id="clientModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body"></div>
          </div>
        </div>
      </div>
      <div class="modal fade client-modal" id="addressModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body"></div>
            <div id="map"></div>
          </div>
        </div>
      </div>
      <div class="modal fade success-modal" id="successModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2"><span>Ваша заявка успешно принята!</span></div>
              <div class="text">
                <p>Перезвоним в течение 15 минут</p>
              </div>
            </div>
            <div class="modal-body">
              <div class="success-modal-button">
                <button class="btn btn-2" type="button" data-dismiss="modal" aria-label="Close">Закрыть</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="js/jquery-3.3.1.min.js"></script>
      <script src="js/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="js/bootstrap-select.min.js"></script>
      <script src="js/jquery.validate.min.js"></script>
      <script src="js/additional-methods.min.js"></script>
      <script src="js/jquery.maskedinput.min.js"></script>
      <script src="js/wNumb.min.js"></script>
      <script src="js/slick.min.js"></script>
      <script src="js/fancybox/jquery.fancybox.min.js"></script>
      <script src="js/bootstrap-fileinput/js/fileinput.min.js"></script>
      <script src="js/jquery.mousewheel.js"></script>
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/moment-with-locales.js"></script>
      <script src="js/tempusdominus/tempusdominus-bootstrap-4.min.js"></script>
      <script src="js/greensock/TweenMax.min.js"></script>
      <script src="js/greensock/plugins/CSSRulePlugin.min.js"></script>
      <script src="js/greensock/plugins/ScrollToPlugin.min.js"></script>
      <script src="js/iscroll-probe.js"></script>
      <script src="js/scrollmagic/ScrollMagic.min.js"></script>
      <script src="js/scrollmagic/plugins/animation.gsap.min.js"></script>
      <script src="js/jquery-svg-to-inline.js"></script>
      <script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
      <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=cefbc555-bed0-48f8-b6ad-23f808b12244"></script>
      <script src="js/main.js"></script>
      <script src="js/stores-map.js"></script>
    </div>
  </body>
</html>