<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Adidas</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="js/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="js/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="js/bootstrap-fileinput/css/fileinput.min.css">
    <link rel="stylesheet" href="js/bootstrap-fileinput/css/fileinput-rtl.min.css">
    <link rel="stylesheet" href="js/tempusdominus/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="css/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="js/rangeslider/rangeslider.css">
    <link rel="stylesheet" href="js/datatables/datatables.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/animations.css">
  </head>
  <body>
    <div class="over-wrapper">
      <div id="mobile-indicator"></div>
      <div id="sm-indicator"></div>
      <div id="md-indicator"></div>
      <header>
        <div class="header-content">
          <div class="row">
            <div class="header-l">
              <div class="header-logo"><a href="/"><img src="images/logo.svg" alt="adidas"></a></div>
            </div>
            <div class="header-m">
              <div class="navbar-trigger"><span></span><span></span><span></span></div>
              <div class="navbar-wrapper">
                <div class="navbar-wrapper-inner">
                  <ul class="nav navbar-nav">
                    <li class="has-submenu"><a href="#"><span>Магазины</span></a></li>
                    <li class="has-submenu"><a href="#"><span>Офис</span></a>
                      <div class="submenu">
                        <div class="submenu-inner">
                          <div class="row">
                            <div class="submenu-descr">
                              <ul class="submenu-list">
                                <li><a href="#">the base fitness</a></li>
                                <li><a href="#">Маркетинг adidas</a></li>
                                <li><a href="#">Маркетинг reebok</a></li>
                                <li><a href="#">Дизайн и строительство</a></li>
                                <li><a href="#">Юридический отдел</a></li>
                                <li><a href="#">финансовый отдел</a></li>
                                <li><a href="#">логистика</a></li>
                                <li><a href="#">it-отдел</a></li>
                                <li><a href="#">управление персоналом</a></li>
                                <li><a href="#">отдел закупок</a></li>
                                <li><a href="#">коммерческий отдел</a></li>
                                <li><a href="#">поддержка фирменных магазинов</a></li>
                                <li><a href="#">Электронная торговля</a></li>
                              </ul>
                            </div>
                            <div class="submenu-pic" style="background-image: url(files/submenu-office-bg.jpg)"><img src="files/submenu-office-pic.jpg"></div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li><a href="#"><span>Центр дистрибуции</span></a></li>
                    <li class="has-submenu"><a href="#"><span>Обучение и&nbsp;развитие</span></a>
                      <div class="submenu submenu-alt">
                        <ul class="submenu-list submenu-list-alt">
                          <li><a class="submenu-item" href="#">
                              <div class="submenu-item-pic" style="background-image:url(files/submenu-1-1.jpg);"></div>
                              <div class="submenu-item-descr">
                                <div class="ttl">Обучение и адаптация</div>
                              </div></a></li>
                          <li><a class="submenu-item" href="#">
                              <div class="submenu-item-pic" style="background-image:url(files/submenu-1-2.jpg);"></div>
                              <div class="submenu-item-descr">
                                <div class="ttl">Обучение и адаптация</div>
                              </div></a></li>
                          <li><a class="submenu-item" href="#">
                              <div class="submenu-item-pic" style="background-image:url(files/submenu-1-3.jpg);"></div>
                              <div class="submenu-item-descr">
                                <div class="ttl">Обучение и адаптация</div>
                              </div></a></li>
                        </ul>
                      </div>
                    </li>
                    <li><a href="#"><span>О&nbsp;компании</span></a></li>
                    <li class="has-submenu"><a href="#"><span>Бренды</span></a>
                      <div class="submenu submenu-alt">
                        <ul class="submenu-list submenu-list-alt">
                          <li><a class="submenu-item" href="#">
                              <div class="submenu-item-pic" style="background-image:url(files/submenu-2-1.jpg);"></div>
                              <div class="submenu-item-descr">
                                <div class="ttl">Adidas</div>
                              </div></a></li>
                          <li><a class="submenu-item" href="#">
                              <div class="submenu-item-pic" style="background-image:url(files/submenu-2-2.jpg);"></div>
                              <div class="submenu-item-descr">
                                <div class="ttl">Reebok</div>
                              </div></a></li>
                        </ul>
                      </div>
                    </li>
                    <li><a href="#"><span>Контакты</span></a></li>
                  </ul>
                  <div class="d-block d-lg-none">
                    <div class="navbar-buttons"><a class="btn btn-1" href="#"><span>Все вакансии</span></a><a class="btn btn-3" href="#"><span>Избранное</span></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="header-r">
              <div class="header-fav"><a class="btn-header-fav" href="#">
                  <div class="ico"><img class="svg-inline" src="images/ico-btn-header-fav.svg"></div></a></div>
              <div class="header-button"><a class="btn btn-1 btn-1-small" href="#"><span>Все вакансии</span></a></div>
            </div>
          </div>
        </div>
      </header>
      <main>
        <div class="page-header">
          <div class="row">
            <div class="col-6">
              <div class="page-header-bg" style="background-image: url(files/page-header-bg-news-l.jpg)"></div>
            </div>
            <div class="col-6">
              <div class="page-header-bg" style="background-image: url(files/page-header-bg-news-r.jpg)"></div>
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-8 offset-md-4">
                <div class="page-title page-title-alt page-title-white">
                  <div class="h1">Новости и&nbsp;статьи</div>
                </div>
              </div>
            </div>
            <div class="wide-page-wrapper">
              <ul class="breadcrumb">
                <li><a href="#">Adidas</a></li>
                <li><span>Все вакансии</span></li>
              </ul>
              <div class="news-controls">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="news-categories">
                      <select class="select-categories news-categories-select">
                        <option value="1">Все публикации</option>
                        <option value="2">Новости</option>
                        <option value="3">Карьера</option>
                        <option value="4">Идеи</option>
                        <option value="5">Мышление</option>
                        <option value="6">Образ жизни</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 offset-lg-4">
                    <div class="controls-search-form">
                      <form>
                        <div class="form-group">
                          <div class="form-field">
                            <input type="text" name="vac_search" id="vac_search" placeholder="Найти публикацию" required>
                          </div>
                          <div class="form-button">
                            <button type="submit"></button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="news-list">
                <div class="row row-alt">
                  <div class="col-12 col-md-6 col-lg-8">
                    <div class="news-tmb news-tmb-big"><a class="news-tmb-pic" href="#"><img src="files/news-1-tmb.jpg"></a>
                      <div class="news-tmb-descr">
                        <ul class="news-tmb-tags">
                          <li><a href="#">Советы</a></li>
                          <li><a href="#">Стажировка</a></li>
                        </ul><a href="#">
                          <div class="h3">5&nbsp;советов, которые помогут получить стажировку вашей мечты</div>
                          <div class="div news-tmb-date">12 апреля 2019</div></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="subscribe-form-wrapper">
                      <div class="h3">Подписывайся на&nbsp;рассылку</div>
                      <div class="subscribe-form-text">
                        <p>Получай интересные статьи о&nbsp;спорте, мотивации, работе сразу на&nbsp;почту</p>
                      </div>
                      <div class="subscribe-form">
                        <form>
                          <div class="form-group">
                            <label for="subscribe_email">Ваша почта</label>
                            <input type="email" name="subscribe_email" id="subscribe_email" placeholder=" " required>
                          </div>
                          <div class="form-footer">
                            <button class="btn btn-1" type="submit">Подписаться</button>
                          </div>
                          <div class="form-agree">
                            <p>Подписываясь, вы&nbsp;соглашаетесь с&nbsp;нашим <a href="#">пользовательским соглашением</a></p>
                          </div>
                        </form>
                      </div>
                      <div class="h4">Читай нас в&nbsp;соцсетях</div>
                      <div class="soclinks"><a class="soclink" href="#"><img class="svg-inline" src="images/ico-vk.svg"></a><a class="soclink" href="#"><img class="svg-inline" src="images/ico-fb.svg"></a><a class="soclink" href="#"><img class="svg-inline" src="images/ico-instagram.svg"></a></div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="news-tmb"><a class="news-tmb-pic" href="#"><img src="files/news-2-tmb.jpg"></a>
                      <div class="news-tmb-descr">
                        <ul class="news-tmb-tags">
                          <li><a href="#">Советы</a></li>
                          <li><a href="#">Интервью</a></li>
                          <li><a href="#">Собеседование</a></li>
                        </ul><a href="#">
                          <div class="h3">Как удалённо проходить видео-интервью</div>
                          <div class="div news-tmb-date">25 июля 2019</div></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="news-tmb"><a class="news-tmb-pic" href="#"><img src="files/news-3-tmb.jpg"></a>
                      <div class="news-tmb-descr">
                        <ul class="news-tmb-tags">
                          <li><a href="#">Советы</a></li>
                          <li><a href="#">Карьера</a></li>
                          <li><a href="#">Собеседование</a></li>
                        </ul><a href="#">
                          <div class="h3">Как сформировать карьеру в постоянно меняющейся среде</div>
                          <div class="div news-tmb-date">25 июля 2019</div></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="news-tmb"><a class="news-tmb-pic" href="#"><img src="files/news-2-tmb.jpg"></a>
                      <div class="news-tmb-descr">
                        <ul class="news-tmb-tags">
                          <li><a href="#">Советы</a></li>
                          <li><a href="#">Интервью</a></li>
                          <li><a href="#">Собеседование</a></li>
                        </ul><a href="#">
                          <div class="h3">3 шага, чтобы научиться комплексному решению проблем от вашего тела</div>
                          <div class="div news-tmb-date">25 июля 2019</div></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="news-tmb"><a class="news-tmb-pic" href="#"><img src="files/news-2-tmb.jpg"></a>
                      <div class="news-tmb-descr">
                        <ul class="news-tmb-tags">
                          <li><a href="#">Советы</a></li>
                          <li><a href="#">Интервью</a></li>
                          <li><a href="#">Собеседование</a></li>
                        </ul><a href="#">
                          <div class="h3">Как удалённо проходить видео-интервью</div>
                          <div class="div news-tmb-date">25 июля 2019</div></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="news-tmb"><a class="news-tmb-pic" href="#"><img src="files/news-3-tmb.jpg"></a>
                      <div class="news-tmb-descr">
                        <ul class="news-tmb-tags">
                          <li><a href="#">Советы</a></li>
                          <li><a href="#">Карьера</a></li>
                          <li><a href="#">Собеседование</a></li>
                        </ul><a href="#">
                          <div class="h3">Как сформировать карьеру в постоянно меняющейся среде</div>
                          <div class="div news-tmb-date">25 июля 2019</div></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="news-tmb"><a class="news-tmb-pic" href="#"><img src="files/news-2-tmb.jpg"></a>
                      <div class="news-tmb-descr">
                        <ul class="news-tmb-tags">
                          <li><a href="#">Советы</a></li>
                          <li><a href="#">Интервью</a></li>
                          <li><a href="#">Собеседование</a></li>
                        </ul><a href="#">
                          <div class="h3">3 шага, чтобы научиться комплексному решению проблем от вашего тела</div>
                          <div class="div news-tmb-date">25 июля 2019</div></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="news-tmb news-tmb-alt"><a class="news-tmb-pic" href="#" style="background-image:url(files/news-alt-tmb.jpg);"></a>
                      <div class="news-tmb-descr">
                        <ul class="news-tmb-tags">
                          <li><a href="#">Советы</a></li>
                          <li><a href="#">Стажировка</a></li>
                        </ul><a href="#">
                          <div class="h3">празднуем 70-летие компании adidas</div>
                          <div class="div news-tmb-date">25 июля 2019</div></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="news-tmb"><a class="news-tmb-pic" href="#"><img src="files/news-2-tmb.jpg"></a>
                      <div class="news-tmb-descr">
                        <ul class="news-tmb-tags">
                          <li><a href="#">Советы</a></li>
                          <li><a href="#">Интервью</a></li>
                          <li><a href="#">Собеседование</a></li>
                        </ul><a href="#">
                          <div class="h3">Как удалённо проходить видео-интервью</div>
                          <div class="div news-tmb-date">25 июля 2019</div></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="news-tmb"><a class="news-tmb-pic" href="#"><img src="files/news-3-tmb.jpg"></a>
                      <div class="news-tmb-descr">
                        <ul class="news-tmb-tags">
                          <li><a href="#">Советы</a></li>
                          <li><a href="#">Карьера</a></li>
                          <li><a href="#">Собеседование</a></li>
                        </ul><a href="#">
                          <div class="h3">Как сформировать карьеру в постоянно меняющейся среде</div>
                          <div class="div news-tmb-date">25 июля 2019</div></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="news-tmb"><a class="news-tmb-pic" href="#"><img src="files/news-2-tmb.jpg"></a>
                      <div class="news-tmb-descr">
                        <ul class="news-tmb-tags">
                          <li><a href="#">Советы</a></li>
                          <li><a href="#">Интервью</a></li>
                          <li><a href="#">Собеседование</a></li>
                        </ul><a href="#">
                          <div class="h3">3 шага, чтобы научиться комплексному решению проблем от вашего тела</div>
                          <div class="div news-tmb-date">25 июля 2019</div></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="news-tmb"><a class="news-tmb-pic" href="#"><img src="files/news-2-tmb.jpg"></a>
                      <div class="news-tmb-descr">
                        <ul class="news-tmb-tags">
                          <li><a href="#">Советы</a></li>
                          <li><a href="#">Интервью</a></li>
                          <li><a href="#">Собеседование</a></li>
                        </ul><a href="#">
                          <div class="h3">Как удалённо проходить видео-интервью</div>
                          <div class="div news-tmb-date">25 июля 2019</div></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="news-tmb"><a class="news-tmb-pic" href="#"><img src="files/news-3-tmb.jpg"></a>
                      <div class="news-tmb-descr">
                        <ul class="news-tmb-tags">
                          <li><a href="#">Советы</a></li>
                          <li><a href="#">Карьера</a></li>
                          <li><a href="#">Собеседование</a></li>
                        </ul><a href="#">
                          <div class="h3">Как сформировать карьеру в постоянно меняющейся среде</div>
                          <div class="div news-tmb-date">25 июля 2019</div></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="news-tmb"><a class="news-tmb-pic" href="#"><img src="files/news-2-tmb.jpg"></a>
                      <div class="news-tmb-descr">
                        <ul class="news-tmb-tags">
                          <li><a href="#">Советы</a></li>
                          <li><a href="#">Интервью</a></li>
                          <li><a href="#">Собеседование</a></li>
                        </ul><a href="#">
                          <div class="h3">3 шага, чтобы научиться комплексному решению проблем от вашего тела</div>
                          <div class="div news-tmb-date">25 июля 2019</div></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="list-controls list-controls-bottom list-controls-bottom-alt">
                <div class="list-controls-l">
                  <div class="page-nav">
                    <div class="modern-page-navigation"><span class="modern-page-title">Страницы:</span><a class="modern-page-previous" href="#">Назад</a><a href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><span class="modern-page-current">5</span><a href="#">6</a><a href="#">7</a><a href="#">8</a><a href="#">9</a><a href="#">10</a><a href="#">11</a><a class="modern-page-next" href="#">Вперед</a></div>
                  </div>
                </div>
                <div class="list-controls-r">
                  <div class="show-num">
                    <div class="show-num-ttl">Показать по</div>
                    <div class="show-num-buttons">
                      <div class="show-num-buttons-item">
                        <button class="active">12</button>
                      </div>
                      <div class="show-num-buttons-item">
                        <button>24</button>
                      </div>
                      <div class="show-num-buttons-item">
                        <button>36</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="container">
          <div class="footer-content">
            <div class="footer-top">
              <div class="footer-ttl">
                <p>прямо сейчас мы&nbsp;предлагаем<br><span class="footer-green">932 вакансии</span> в&nbsp;<span class="footer-blue">42&nbsp;городах</span> страны</p>
              </div>
              <div class="footer-button"><a class="btn btn-1" href="#">Посмотреть все вакансии</a></div>
            </div>
            <div class="footer-bottom">
              <div class="h3">Меняем жизнь через спорт</div>
              <div class="footer-soclinks"><a class="footer-soclink" href="#"><img class="svg-inline" src="images/ico-footer-vk.svg"></a><a class="footer-soclink" href="#"><img class="svg-inline" src="images/ico-footer-fb.svg"></a><a class="footer-soclink" href="#"><img class="svg-inline" src="images/ico-footer-instagram.svg"></a></div>
              <div class="footer-copy">
                <div class="footer-copy-item">
                  <p>&copy;&nbsp;Adidas 2019. Все права защищены</p>
                </div>
                <div class="footer-copy-item">
                  <p><a href="#">Политика конфиденциальности</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="popup story-popup" id="storyPopup">
        <div class="popup-backdrop"></div>
        <div class="close"></div>
        <div class="popup-inner-wrapper">
          <div class="popup-inner-scroll">
            <div class="popup-inner"></div>
          </div>
        </div>
      </div>
      <div class="modal fade form-modal order-modal" id="orderModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2">Оставить заявку</div>
              <p>Оставьте заявку, наш специалист свяжется с&nbsp;Вами в&nbsp;течении 15&nbsp;мин!</p>
            </div>
            <div class="modal-body">
              <div class="form-alt">
                <form id="orderForm">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_order_name">Ваше имя</label>
                        <input type="text" name="modal_order_name" id="modal_order_name" required>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_order_phone">Телефон</label>
                        <input class="input-phone" type="text" name="modal_order_phone" id="modal_order_phone" required>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-footer">
                        <button class="btn btn-2" type="submit"><span>Отправить заявку</span></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade form-modal order-modal" id="bankModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2">Оставить заявку</div>
              <p>Оставьте заявку, наш специалист свяжется с&nbsp;Вами в&nbsp;течении 15&nbsp;мин!</p>
            </div>
            <div class="modal-body">
              <div class="form-alt">
                <form id="bankForm">
                  <input type="hidden" name="modal_bank_bank" id="modal_bank_bank">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_bank_name">Ваше имя</label>
                        <input type="text" name="modal_bank_name" id="modal_bank_name" required>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_bank_phone">Телефон</label>
                        <input class="input-phone" type="text" name="modal_bank_phone" id="modal_bank_phone" required>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-footer">
                        <button class="btn btn-2" type="submit"><span>Отправить заявку</span></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade form-modal" id="teamModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2">Задать вопрос</div>
              <p>Оставьте заявку, наш специалист свяжется с&nbsp;Вами в&nbsp;течении 15&nbsp;мин!</p>
            </div>
            <div class="modal-body">
              <div class="form-alt">
                <form id="teamForm">
                  <input type="hidden" name="modal_team_person" id="modal_team_person">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_team_name">Ваше имя</label>
                        <input type="text" name="modal_team_name" id="modal_team_name" required>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_team_phone">Телефон</label>
                        <input class="input-phone" type="text" name="modal_team_phone" id="modal_team_phone" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="modal_team_message">Сообщение</label>
                        <textarea name="modal_team_message" id="modal_team_message" rows="4"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-footer">
                        <button class="btn btn-2" type="submit"><span>Отправить</span></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade form-modal callback-modal" id="callbackModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2">Заказать звонок</div>
            </div>
            <div class="modal-body">
              <p>Оставьте свои данные и&nbsp;наш специалист свяжется с&nbsp;вами в&nbsp;течение 15&nbsp;минут</p>
              <div class="modal-form callback-form">
                <form>
                  <div class="form-group">
                    <label class="placeholder" for="callback_name">Ваше имя</label>
                    <input type="text" name="callback_name" id="callback_name" required>
                  </div>
                  <div class="form-group">
                    <label class="placeholder" for="callback_phone">+7 (___) ___-__-__</label>
                    <input class="input-phone" type="text" name="callback_phone" id="callback_phone" required>
                  </div>
                  <div class="form-footer">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <button class="btn btn-2 btn-small" type="submit"><span>Отправить</span></button>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-agree">
                          <p>Нажимая кнопку «Отправить», Вы даете свое согласие с&nbsp;<a href="#">политикой конфиденциальности</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade fav-modal" id="favModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2">Вакансия добавлена в избранное</div>
            </div>
            <div class="modal-body">
              <div class="vac-tmb vac-tmb-alt">
                <div class="vac-tmb-header">
                  <div class="h3">специалист по фитнесу (продавец-консультант)</div>
                </div>
                <div class="vac-tmb-footer">
                  <div class="vac-tmb-place">
                    <p>Фирменный магазин, Москва</p>
                  </div>
                  <div class="vac-tmb-logo"><img src="images/logo-adidas.svg"></div>
                </div>
              </div>
              <div class="fav-modal-controls">
                <div class="row">
                  <div class="col"><a class="btn btn-2" href="#"><span>Перейти в избранное</span></a></div>
                  <div class="col">
                    <div class="btn btn-5 btn-modal-remove" data-dismiss="modal" aria-label="Close"><span>Удалить</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade client-modal" id="clientModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body"></div>
          </div>
        </div>
      </div>
      <div class="modal fade client-modal" id="addressModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body"></div>
            <div id="map"></div>
          </div>
        </div>
      </div>
      <div class="modal fade success-modal" id="successModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2"><span>Ваша заявка успешно принята!</span></div>
              <div class="text">
                <p>Перезвоним в течение 15 минут</p>
              </div>
            </div>
            <div class="modal-body">
              <div class="success-modal-button">
                <button class="btn btn-2" type="button" data-dismiss="modal" aria-label="Close">Закрыть</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="js/jquery-3.3.1.min.js"></script>
      <script src="js/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="js/bootstrap-select.min.js"></script>
      <script src="js/jquery.validate.min.js"></script>
      <script src="js/additional-methods.min.js"></script>
      <script src="js/jquery.maskedinput.min.js"></script>
      <script src="js/wNumb.min.js"></script>
      <script src="js/slick.min.js"></script>
      <script src="js/fancybox/jquery.fancybox.min.js"></script>
      <script src="js/bootstrap-fileinput/js/fileinput.min.js"></script>
      <script src="js/jquery.mousewheel.js"></script>
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/moment-with-locales.js"></script>
      <script src="js/tempusdominus/tempusdominus-bootstrap-4.min.js"></script>
      <script src="js/greensock/TweenMax.min.js"></script>
      <script src="js/greensock/plugins/CSSRulePlugin.min.js"></script>
      <script src="js/greensock/plugins/ScrollToPlugin.min.js"></script>
      <script src="js/iscroll-probe.js"></script>
      <script src="js/scrollmagic/ScrollMagic.min.js"></script>
      <script src="js/scrollmagic/plugins/animation.gsap.min.js"></script>
      <script src="js/jquery-svg-to-inline.js"></script>
      <script src="js/jquery.nicescroll.min.js"></script>
      <script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
      <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=cefbc555-bed0-48f8-b6ad-23f808b12244"></script>
      <script src="js/main.js"></script>
      <script src="js/stores-map.js"></script>
      <script src="js/animations.js"></script><script id="sidebarTemplate" type="text/x-jquery-tmpl">
        {{each(i, geoObject) geoObjects}}
            {{tmpl({
                i: i,
                geoObject: geoObject,
                activeIndex: activeIndex
            }) "#sidebarItemTemplate"}}
        {{/each}}

</script>
<!-- Шаблон элемента сайдбара. -->
<script id="sidebarItemTemplate" type="text/x-jquery-tmpl">
        <li{{if i == activeIndex}} class="active"{{/if}}>
            <a href="#">${geoObject.properties.get("clusterCaption")}</a>
        </li>

</script>
<!-- Шаблон основного содержимого. -->
<script id="mainContentTemplate" type="text/x-jquery-tmpl">

		${data.balloonContentBody}

</script>



    </div>
  </body>
</html>