<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Adidas</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="js/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="js/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="js/bootstrap-fileinput/css/fileinput.min.css">
    <link rel="stylesheet" href="js/bootstrap-fileinput/css/fileinput-rtl.min.css">
    <link rel="stylesheet" href="js/tempusdominus/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="css/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="js/rangeslider/rangeslider.css">
    <link rel="stylesheet" href="js/datatables/datatables.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
  </head>
  <body>
    <div class="over-wrapper">
      <div id="mobile-indicator"></div>
      <div id="sm-indicator"></div>
      <header>
        <div class="header-content">
          <div class="row">
            <div class="header-l">
              <div class="header-logo"><a href="/"><img src="images/logo.svg" alt="adidas"></a></div>
            </div>
            <div class="header-m">
              <div class="navbar-trigger"><span></span><span></span><span></span></div>
              <div class="navbar-wrapper">
                <div class="navbar-wrapper-inner">
                  <ul class="nav navbar-nav">
                    <li class="has-submenu"><a href="#"><span>Магазины</span></a></li>
                    <li class="has-submenu"><a href="#"><span>Офис</span></a>
                      <div class="submenu">
                        <div class="submenu-inner">
                          <div class="row">
                            <div class="submenu-descr">
                              <ul class="submenu-list">
                                <li><a href="#">the base fitness</a></li>
                                <li><a href="#">Маркетинг adidas</a></li>
                                <li><a href="#">Маркетинг reebok</a></li>
                                <li><a href="#">Дизайн и строительство</a></li>
                                <li><a href="#">Юридический отдел</a></li>
                                <li><a href="#">финансовый отдел</a></li>
                                <li><a href="#">логистика</a></li>
                                <li><a href="#">it-отдел</a></li>
                                <li><a href="#">управление персоналом</a></li>
                                <li><a href="#">отдел закупок</a></li>
                                <li><a href="#">коммерческий отдел</a></li>
                                <li><a href="#">поддержка фирменных магазинов</a></li>
                                <li><a href="#">Электронная торговля</a></li>
                              </ul>
                            </div>
                            <div class="submenu-pic" style="background-image: url(files/submenu-office-bg.jpg)"><img src="files/submenu-office-pic.jpg"></div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li><a href="#"><span>Центр дистрибуции</span></a></li>
                    <li class="has-submenu"><a href="#"><span>Обучение и&nbsp;развитие</span></a></li>
                    <li><a href="#"><span>О&nbsp;компании</span></a></li>
                    <li class="has-submenu"><a href="#"><span>Бренды</span></a></li>
                    <li><a href="#"><span>Контакты</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="header-r">
              <div class="header-fav"><a class="btn-header-fav" href="#">
                  <div class="ico"><img class="svg-inline" src="images/ico-btn-header-fav.svg"></div></a></div>
              <div class="header-button"><a class="btn btn-1 btn-1-small" href="#"><span>Все вакансии</span></a></div>
            </div>
          </div>
        </div>
      </header>
      <main>
        <div class="page-header">
          <div class="row">
            <div class="col-6">
              <div class="page-header-bg" style="background-image: url(files/page-header-bg-vacancy-form-l.jpg)"></div>
            </div>
            <div class="col-6">
              <div class="page-header-bg" style="background-image: url(files/page-header-bg-vacancy-form-r.jpg)"></div>
            </div>
          </div>
        </div>
        <div class="page-body page-body-dark-grey">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="page-sidebar">
                  <ul class="page-menu">
                    <li><a href="#description">Вакансия</a></li>
                    <li><a href="#info">Общие сведения</a></li>
                    <li><a href="#contacts">Контакты</a></li>
                    <li><a href="#languages">Языки</a></li>
                    <li><a href="#extra">Дополнительно</a></li>
                    <li><a href="#cv">Резюме</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-12 col-md-8 offset-md-1">
                <div class="page-content-wrapper">
                  <ul class="breadcrumb">
                    <li><a href="#">Adidas</a></li>
                    <li><span>Анкета для работы в&nbsp;фирменных магазинах</span></li>
                  </ul>
                  <ul class="page-tabs">
                    <li><a class="active" href="#">
                        <div class="cont">Фирменные магазины</div></a></li>
                    <li><a href="#">
                        <div class="cont">Офис</div></a></li>
                    <li><a href="#">
                        <div class="cont">Центр дистибуции</div></a></li>
                  </ul>
                  <div class="page-title">
                    <h1>Анкета для работы в&nbsp;фирменных магазинах</h1>
                  </div>
                  <div class="page-content">
                    <p>Поскольку успех питает растущую глобальную компанию, мы никогда не соглашаемся на статус-кво. Вместо этого мы хотим продвигаться вперед каждый день, когда мы открываем свои двери для более чем 55 000 сотрудников по всему миру. Они – наш творческий капитал, чтобы формировать будущее спорта. Потому что в adidas мы верим, что с помощью спорта мы можем изменить жизнь.</p>
                    <div class="vacancy-form">
                      <form>
                        <div class="form-section">
                          <div class="h3">Вакансия</div>
                          <div class="row">
                            <div class="col-12 col-md-6">
                              <div class="form-group">
                                <label for="vac_vacancy">На какую вакансию откликаетесь?</label>
                                <select name="vac_vacancy" id="vac_vacancy" title=" " required>
                                  <option value="" disabled></option>
                                  <option value="1">Пункт выпадающего списка 1</option>
                                  <option value="2">Пункт выпадающего списка 2</option>
                                  <option value="3">Пункт выпадающего списка, занимающий две строки</option>
                                  <option value="4">Пункт выпадающего списка настолько длинный, что занимает целых три строки</option>
                                  <option value="5">Пункт выпадающего списка 1</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-12 col-md-6">
                              <div class="form-group">
                                <label for="vac_vac_city">Город</label>
                                <select name="vac_vac_city" id="vac_vac_city" required>
                                  <option value="1">Пункт выпадающего списка 1</option>
                                  <option value="2">Пункт выпадающего списка 2</option>
                                  <option value="3">Пункт выпадающего списка, занимающий две строки</option>
                                  <option value="4">Пункт выпадающего списка настолько длинный, что занимает целых три строки</option>
                                  <option value="5">Пункт выпадающего списка 1</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-section">
                          <div class="h3">Общие сведения</div>
                          <div class="row">
                            <div class="col-12 col-md-6">
                              <div class="form-group">
                                <label for="vac_name">Имя</label>
                                <input type="text" name="vac_name" id="vac_name" placeholder=" " required>
                              </div>
                            </div>
                            <div class="col-12 col-md-6">
                              <div class="form-group">
                                <label for="vac_lastname">Фамилия</label>
                                <input type="text" name="vac_lastname" id="vac_lastname" placeholder=" " required>
                              </div>
                            </div>
                            <div class="col-12 col-md-6">
                              <div class="form-grop">
                                <label for="vac_birthdate_input">Дата рождения</label>
                                <div class="input-group date input-date" id="vac_birthdate" data-target-input="nearest">
                                  <input class="datetimepicker-input" type="text" data-target="#vac_birthdate" id="vac_birthdate_input" name="vac_birthdate_input" placeholder="--.--.----" required>
                                  <div class="input-date-arrow" data-target="#vac_birthdate" data-toggle="datetimepicker"></div>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-md-6">
                              <div class="form-group">
                                <label for="vac_citizenship">Гражданство</label>
                                <input type="text" name="vac_citizenship" id="vac_citizenship" placeholder=" " required>
                              </div>
                            </div>
                            <div class="col-12 col-md-6">
                              <div class="form-group">
                                <label for="vac_city">Город проживания</label>
                                <input type="text" name="vac_city" id="vac_city" placeholder=" " required>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-section">
                          <div class="h3">Контакты</div>
                          <div class="row">
                            <div class="col-12 col-md-6">
                              <div class="form-group">
                                <label for="vac_phone">Ваш телефон</label>
                                <input class="input-phone" type="text" name="vac_phone" id="vac_phone" placeholder=" " required>
                              </div>
                            </div>
                            <div class="col-12 col-md-6">
                              <div class="form-group">
                                <label for="vac_email">Электронная почта</label>
                                <input type="email" name="vac_email" id="vac_email" placeholder=" " required>
                              </div>
                            </div>
                            <div class="col-12 col-md-6">
                              <div class="form-group">
                                <label for="vac_facebook">Ссылка на профиль в Facebook</label>
                                <input type="text" name="vac_facebook" id="vac_facebook" placeholder=" " required>
                              </div>
                            </div>
                            <div class="col-12 col-md-6">
                              <div class="form-group">
                                <label for="vac_instagram">Ссылка на профиль в Instagram</label>
                                <input type="text" name="vac_instagram" id="vac_instagram" placeholder=" " required>
                              </div>
                            </div>
                            <div class="col-12 col-md-6">
                              <div class="form-group">
                                <label for="vac_vkontakte">Ссылка на профиль в Вконтакте</label>
                                <input type="text" name="vac_vkontakte" id="vac_vkontakte" placeholder=" " required>
                              </div>
                            </div>
                            <div class="col-12 col-md-6">
                              <div class="form-group">
                                <label for="vac_odnoklassniki">Ссылка на профиль в Одноклассники</label>
                                <input type="text" name="vac_odnoklassniki" id="vac_odnoklassniki" placeholder=" " required>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-section">
                          <div class="h3">Языки</div>
                          <div class="row">
                            <div class="col-12 col-md-6">
                              <div class="form-group">
                                <label for="vac_lang">Родной язык</label>
                                <select name="vac_lang[]" id="vac_lang" required>
                                  <option value="1">Пункт выпадающего списка 1</option>
                                  <option value="2">Пункт выпадающего списка 2</option>
                                  <option value="3">Пункт выпадающего списка, занимающий две строки</option>
                                  <option value="4">Пункт выпадающего списка настолько длинный, что занимает целых три строки</option>
                                  <option value="5">Пункт выпадающего списка 1</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="hr"></div>
                          <div class="multi-form-items">
                            <!-- Шаблон того, что добавляем по клику на кнопку-->
                            <div class="multi-form-item-template">
                              <div class="row">
                                <div class="col-12 col-md-6">
                                  <div class="form-group">
                                    <label for="vac_lang_foreign">Иностранный язык</label>
                                    <select name="vac_lang_foreign[]" id="vac_lang_foreign">
                                      <option value="1">Пункт выпадающего списка 1</option>
                                      <option value="2">Пункт выпадающего списка 2</option>
                                      <option value="3">Пункт выпадающего списка, занимающий две строки</option>
                                      <option value="4">Пункт выпадающего списка настолько длинный, что занимает целых три строки</option>
                                      <option value="5">Пункт выпадающего списка 1</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-12 col-md-6">
                                  <div class="form-group">
                                    <label for="vac_lang_level">Уровень владения</label>
                                    <select name="vac_lang_level[]" id="vac_lang_level">
                                      <option value="1">Пункт выпадающего списка 1</option>
                                      <option value="2">Пункт выпадающего списка 2</option>
                                      <option value="3">Пункт выпадающего списка, занимающий две строки</option>
                                      <option value="4">Пункт выпадающего списка настолько длинный, что занимает целых три строки</option>
                                      <option value="5">Пункт выпадающего списка 1</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Шаблон того, что добавляем по клику на кнопку END-->
                            <div class="multi-form-item" data-index="1">
                              <div class="row">
                                <div class="col-12 col-md-6">
                                  <div class="form-group">
                                    <label for="vac_lang_foreign_1">Иностранный язык</label>
                                    <select name="vac_lang_foreign[]" id="vac_lang_foreign_1" required>
                                      <option value="1">Пункт выпадающего списка 1</option>
                                      <option value="2">Пункт выпадающего списка 2</option>
                                      <option value="3">Пункт выпадающего списка, занимающий две строки</option>
                                      <option value="4">Пункт выпадающего списка настолько длинный, что занимает целых три строки</option>
                                      <option value="5">Пункт выпадающего списка 1</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-12 col-md-6">
                                  <div class="form-group">
                                    <label for="vac_lang_level_1">Уровень владения</label>
                                    <select name="vac_lang_level[]" id="vac_lang_level_1" required>
                                      <option value="1">Пункт выпадающего списка 1</option>
                                      <option value="2">Пункт выпадающего списка 2</option>
                                      <option value="3">Пункт выпадающего списка, занимающий две строки</option>
                                      <option value="4">Пункт выпадающего списка настолько длинный, что занимает целых три строки</option>
                                      <option value="5">Пункт выпадающего списка 1</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="btn-add-wrapper">
                              <div class="btn btn-2 btn-add btn-add-form-item">Добавить язык</div>
                            </div>
                          </div>
                        </div>
                        <div class="form-section">
                          <div class="h3">Дополнительно</div>
                          <div class="row">
                            <div class="col-12">
                              <div class="form-group">
                                <label for="vac_knew">Откуда узнали о нас?</label>
                                <select name="vac_knew" id="vac_knew" required>
                                  <option value="1">Пункт выпадающего списка 1</option>
                                  <option value="2">Пункт выпадающего списка 2</option>
                                  <option value="3">Пункт выпадающего списка, занимающий две строки</option>
                                  <option value="4">Пункт выпадающего списка настолько длинный, что занимает целых три строки</option>
                                  <option value="5">Пункт выпадающего списка 1</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="form-group">
                                <label for="vac_story">Расскажите о себе, или напишите что угодно</label>
                                <textarea name="vac_story" id="vac_story" rows="4" placeholder=" " required></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-section">
                          <div class="h3">Резюме <span>(необязательно)</span></div>
                          <div class="row">
                            <div class="col-12">
                              <div class="form-group">
                                <label for="vac_cv">Вставьте ссылку на ваше резюме</label>
                                <input type="text" name="vac_cv" id="vac_cv" placeholder=" ">
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="form-group">
                                <label for="vac_cv_file">Или прикрепите файл резюме или его скриншоты</label>
                                <input type="file" name="vac_cv_file" id="vac_cv_file" data-label="Прикрепить резюме">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-section">
                          <div class="form-agree">
                            <div class="form-checkbox">
                              <input type="checkbox" name="vac_agree" id="vac_agree" required>
                              <label for="vac_agree">Я принимаю <a href="#">пользовательское соглашение</a></label>
                            </div>
                          </div>
                        </div>
                        <div class="form-footer">
                          <button class="btn btn-1 btn-1-bigger" type="submit">Отправить анкету</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="container">
          <div class="footer-content">
            <div class="footer-top">
              <div class="footer-ttl">
                <p>прямо сейчас мы&nbsp;предлагаем<br><span class="footer-green">932 вакансии</span> в&nbsp;<span class="footer-blue">42&nbsp;городах</span> страны</p>
              </div>
              <div class="footer-button"><a class="btn btn-1" href="#">Посмотреть все вакансии</a></div>
            </div>
            <div class="footer-bottom">
              <div class="h3">Меняем жизнь через спорт</div>
              <div class="footer-soclinks"><a class="footer-soclink" href="#"><img class="svg-inline" src="images/ico-footer-vk.svg"></a><a class="footer-soclink" href="#"><img class="svg-inline" src="images/ico-footer-fb.svg"></a><a class="footer-soclink" href="#"><img class="svg-inline" src="images/ico-footer-instagram.svg"></a></div>
              <div class="footer-copy">
                <div class="footer-copy-item">
                  <p>&copy;&nbsp;Adidas 2019. Все права защищены</p>
                </div>
                <div class="footer-copy-item">
                  <p><a href="#">Политика конфиденциальности</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="popup story-popup" id="storyPopup">
        <div class="popup-backdrop"></div>
        <div class="close"></div>
        <div class="popup-inner-wrapper">
          <div class="popup-inner-scroll">
            <div class="popup-inner"></div>
          </div>
        </div>
      </div>
      <div class="modal fade form-modal order-modal" id="orderModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2">Оставить заявку</div>
              <p>Оставьте заявку, наш специалист свяжется с&nbsp;Вами в&nbsp;течении 15&nbsp;мин!</p>
            </div>
            <div class="modal-body">
              <div class="form-alt">
                <form id="orderForm">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_order_name">Ваше имя</label>
                        <input type="text" name="modal_order_name" id="modal_order_name" required>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_order_phone">Телефон</label>
                        <input class="input-phone" type="text" name="modal_order_phone" id="modal_order_phone" required>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-footer">
                        <button class="btn btn-2" type="submit"><span>Отправить заявку</span></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade form-modal order-modal" id="bankModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2">Оставить заявку</div>
              <p>Оставьте заявку, наш специалист свяжется с&nbsp;Вами в&nbsp;течении 15&nbsp;мин!</p>
            </div>
            <div class="modal-body">
              <div class="form-alt">
                <form id="bankForm">
                  <input type="hidden" name="modal_bank_bank" id="modal_bank_bank">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_bank_name">Ваше имя</label>
                        <input type="text" name="modal_bank_name" id="modal_bank_name" required>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_bank_phone">Телефон</label>
                        <input class="input-phone" type="text" name="modal_bank_phone" id="modal_bank_phone" required>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-footer">
                        <button class="btn btn-2" type="submit"><span>Отправить заявку</span></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade form-modal" id="teamModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2">Задать вопрос</div>
              <p>Оставьте заявку, наш специалист свяжется с&nbsp;Вами в&nbsp;течении 15&nbsp;мин!</p>
            </div>
            <div class="modal-body">
              <div class="form-alt">
                <form id="teamForm">
                  <input type="hidden" name="modal_team_person" id="modal_team_person">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_team_name">Ваше имя</label>
                        <input type="text" name="modal_team_name" id="modal_team_name" required>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="modal_team_phone">Телефон</label>
                        <input class="input-phone" type="text" name="modal_team_phone" id="modal_team_phone" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="modal_team_message">Сообщение</label>
                        <textarea name="modal_team_message" id="modal_team_message" rows="4"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-footer">
                        <button class="btn btn-2" type="submit"><span>Отправить</span></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade form-modal callback-modal" id="callbackModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2">Заказать звонок</div>
            </div>
            <div class="modal-body">
              <p>Оставьте свои данные и&nbsp;наш специалист свяжется с&nbsp;вами в&nbsp;течение 15&nbsp;минут</p>
              <div class="modal-form callback-form">
                <form>
                  <div class="form-group">
                    <label class="placeholder" for="callback_name">Ваше имя</label>
                    <input type="text" name="callback_name" id="callback_name" required>
                  </div>
                  <div class="form-group">
                    <label class="placeholder" for="callback_phone">+7 (___) ___-__-__</label>
                    <input class="input-phone" type="text" name="callback_phone" id="callback_phone" required>
                  </div>
                  <div class="form-footer">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <button class="btn btn-2 btn-small" type="submit"><span>Отправить</span></button>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-agree">
                          <p>Нажимая кнопку «Отправить», Вы даете свое согласие с&nbsp;<a href="#">политикой конфиденциальности</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade client-modal" id="clientModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body"></div>
          </div>
        </div>
      </div>
      <div class="modal fade client-modal" id="addressModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body"></div>
            <div id="map"></div>
          </div>
        </div>
      </div>
      <div class="modal fade success-modal" id="successModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2"><span>Ваша заявка успешно принята!</span></div>
              <div class="text">
                <p>Перезвоним в течение 15 минут</p>
              </div>
            </div>
            <div class="modal-body">
              <div class="success-modal-button">
                <button class="btn btn-2" type="button" data-dismiss="modal" aria-label="Close">Закрыть</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="js/jquery-3.3.1.min.js"></script>
      <script src="js/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="js/bootstrap-select.min.js"></script>
      <script src="js/jquery.validate.min.js"></script>
      <script src="js/additional-methods.min.js"></script>
      <script src="js/jquery.maskedinput.min.js"></script>
      <script src="js/wNumb.min.js"></script>
      <script src="js/slick.min.js"></script>
      <script src="js/fancybox/jquery.fancybox.min.js"></script>
      <script src="js/bootstrap-fileinput/js/fileinput.min.js"></script>
      <script src="js/jquery.mousewheel.js"></script>
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/moment-with-locales.js"></script>
      <script src="js/tempusdominus/tempusdominus-bootstrap-4.min.js"></script>
      <script src="js/greensock/TweenMax.min.js"></script>
      <script src="js/greensock/plugins/CSSRulePlugin.min.js"></script>
      <script src="js/greensock/plugins/ScrollToPlugin.min.js"></script>
      <script src="js/iscroll-probe.js"></script>
      <script src="js/scrollmagic/ScrollMagic.min.js"></script>
      <script src="js/scrollmagic/plugins/animation.gsap.min.js"></script>
      <script src="js/jquery-svg-to-inline.js"></script>
      <script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
      <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=cefbc555-bed0-48f8-b6ad-23f808b12244"></script>
      <script src="js/main.js"></script>
      <script src="js/stores-map.js"></script>
    </div>
  </body>
</html>