@charset "UTF-8";
#mobile-indicator {
  display: none; }

#sm-indicator {
  display: none; }

@media (min-width: 992px) {
  .navbar-wrapper {
    display: block !important;
    opacity: 1 !important; }
  .navbar-trigger {
    display: none; } }

@media (max-width: 1219px) {
  ul.navbar-nav {
    margin-top: 5px;
    margin-bottom: 5px; }
  ul.navbar-nav a,
  ul.navbar-nav a:focus {
    padding: 2px 17px 2px 17px; }
  html,
  body {
    font-size: 18px; }
  h1,
  .h1 {
    font-size: 50px;
    line-height: 50px; }
  h2,
  .h2 {
    font-size: 40px;
    line-height: 40px; }
  h3,
  .h3 {
    font-size: 30px;
    line-height: 32px; }
  h4,
  .h4 {
    font-size: 22px;
    line-height: 28px; }
  .page-content-wrapper {
    margin-left: -40px;
    margin-right: -40px;
    padding: 57px 40px 70px 40px; }
  .article-pic-l,
  .article-pic-r {
    max-width: 50%; }
  blockquote {
    font-size: 36px;
    line-height: 38px; }
  .blockquote-alt {
    padding: 111px 30px 57px 70px; }
  .blockquote-alt:before {
    left: 29px;
    top: 114px; }
  .blockquote-alt-text {
    font-size: 30px;
    line-height: 36px; }
  .blockquote-alt-pics {
    margin: 0; }
  .col-md-8 .block-wide {
    margin-left: -319px; }
  .reasons-slider-tabs {
    margin-left: -10px;
    margin-right: -10px; }
  .reasons-slider-tabs-item {
    padding-left: 10px;
    padding-right: 10px; }
  .reasons-slider-tabs-item .ttl {
    font-size: 15px;
    line-height: 24px; }
  .section-top h1, .section-top .h1 {
    font-size: 50px;
    line-height: 50px; }
  .section-top-links h3, .section-top-links .h3 {
    font-size: 20px;
    line-height: 26px; }
  .vac-list-alt .vac-tmb h3, .vac-list-alt .vac-tmb .h3 {
    font-size: 18px;
    line-height: 20px; }
  .news-tmb h3, .news-tmb .h3 {
    font-size: 20px; }
  .news-tmb-big h3, .news-tmb-big .h3 {
    font-size: 24px; }
  ul.breadcrumb {
    margin-right: 10px; }
  .wide-page-wrapper {
    padding: 0 0 0 35px; }
  .subscribe-form-wrapper h3, .subscribe-form-wrapper .h3 {
    font-size: 22px;
    line-height: 26px; }
  .subscribe-form-text {
    font-size: 15px;
    line-height: 22px; }
  .news-tmb-alt h3, .news-tmb-alt .h3 {
    font-size: 40px;
    line-height: 45px; }
  .success-tmb h3, .success-tmb .h3 {
    font-size: 20px;
    line-height: 24px; }
  .why-tmb-num {
    font-size: 70px;
    line-height: 75px; }
  .vacancy-header h1, .vacancy-header .h1 {
    font-size: 36px;
    line-height: 40px; }
  .block-white {
    padding: 40px; }
  .page-title-alt {
    margin-left: -40px;
    margin-right: -40px;
    padding: 57px 40px 16px 40px; }
  ul.page-tabs {
    margin-left: -40px;
    margin-right: -40px; }
  .vacancy-form .form-section:before {
    left: -40px;
    right: -40px; }
  .block-wide .gallery-slider ul.slick-dots {
    left: 319px; }
  .stores-map-wrapper {
    margin: 0 -15px;
    padding: 0 15px; }
  .stores-map-wrapper:before {
    left: 15px;
    right: 15px; } }

@media (max-width: 991px) {
  #sm-indicator {
    display: block; }
  html,
  body {
    font-size: 16px; }
  h1,
  .h1 {
    font-size: 34px;
    line-height: 40px; }
  h2,
  .h2 {
    font-size: 30px;
    line-height: 36px; }
  h3,
  .h3 {
    font-size: 24px;
    line-height: 30px; }
  h4,
  .h4 {
    font-size: 20px;
    line-height: 26px; }
  .btn-1,
  .btn-1:focus {
    padding: 13px 50px 15px 15px; }
  .btn-4,
  .btn-4:focus {
    padding: 13px 50px 15px 15px; }
  .btn-1-small, .btn-1-small:focus {
    padding: 7px 44px 3px 15px; }
  .controls-buttons .btn-1-med,
  .controls-buttons .btn-1-med:focus {
    padding: 9px 52px 7px 20px; }
  .page-header {
    height: 300px; }
  ul.page-menu {
    font-size: 13px;
    line-height: 18px; }
  .page-content-wrapper {
    margin-left: -20px;
    margin-right: -20px;
    padding: 30px 20px 30px 20px; }
  .page-title-alt {
    margin-left: -20px;
    margin-right: -20px;
    padding: 30px 20px 16px 20px; }
  .page-sidebar {
    margin-right: -30px; }
  ul.breadcrumb {
    margin-right: 5px; }
  .block-hl {
    font-size: 20px;
    line-height: 28px;
    padding: 0 0 0 30px; }
  blockquote {
    font-size: 30px;
    line-height: 34px; }
  .feature-tmb-pic {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 0 20px 0 0; }
  .feature-tmb-pic img {
    max-width: 100%; }
  .article-pic-l {
    margin-right: 20px; }
  .article-pic-r {
    margin-left: 20px; }
  .col-md-8 .block-wide {
    margin-left: -240px; }
  .blockquote-alt {
    margin: -60px 0 0 240px;
    padding: 90px 30px 50px 60px; }
  .blockquote-alt-text {
    font-size: 24px;
    line-height: 30px; }
  .blockquote-alt:before {
    left: 17px;
    top: 90px; }
  .reasons-slider-tabs-item .ttl {
    font-size: 12px;
    line-height: 24px; }
  .reasons-item-pic img {
    max-width: 100%; }
  .reasons-item-descr {
    padding: 0 0 110px 0;
    font-size: 16px;
    line-height: 24px; }
  .reasons-item h3, .reasons-item .h3 {
    font-size: 30px;
    line-height: 32px; }
  .reasons-slider-nav {
    left: 424px; }
  .dept-list .row > *:nth-child(3n-1) {
    margin-top: 0;
    margin-bottom: 0; }
  .dept-list .row > *:nth-child(3n) {
    margin-top: 0;
    margin-bottom: 0; }
  .dept-list .row > *:nth-child(2n) {
    margin-top: 40px;
    margin-bottom: -40px; }
  .block-wide .gallery-slider ul.slick-dots {
    left: 240px; }
  .faq-item-ttl {
    padding: 30px 60px 30px 50px; }
  .faq-item-ttl h3:before, .faq-item-ttl .h3:before {
    left: -28px;
    top: -1px; }
  .faq-item-ttl h3, .faq-item-ttl .h3 {
    font-size: 20px;
    line-height: 24px; }
  .faq-item-content {
    font-size: 16px;
    line-height: 24px;
    padding: 0 40px 30px 50px; }
  .success-tmb h3, .success-tmb .h3 {
    font-size: 16px;
    line-height: 20px; }
  ul.page-tabs {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -30px; }
  ul.page-tabs a {
    min-height: 100%; }
  .vacancy-form .form-section:before {
    left: -20px;
    right: -20px; }
  .brand-tmb {
    min-height: 300px; }
  .vacancy-header h1, .vacancy-header .h1 {
    font-size: 22px;
    line-height: 28px; }
  .vacancy-controls .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .vacancy-controls-l {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 0 15px 0; }
  .vacancy-controls-r {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .vac-tmb,
  .vac-list-alt .vac-tmb {
    min-height: 160px; }
  .section-top-links .btn {
    min-width: 0; }
  .section-top-links h3, .section-top-links .h3 {
    min-height: 52px; }
  .dept-teaser-pic {
    margin-right: -60px; }
  .cat-tmb {
    padding: 30px;
    min-height: 300px; }
  .stores-table-header-wrapper {
    display: none; }
  .stores-table-wrapper {
    margin: 28px 0 0 0; }
  table.stores-table {
    display: block; }
  table.stores-table tbody,
  table.stores-table tr,
  table.stores-table td {
    display: block;
    border: none;
    padding: 0; }
  table.stores-table tr {
    border-bottom: 3px solid #EDEDED;
    padding: 20px 0 20px 0;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  table.stores-table td {
    padding: 0 15px; }
  td.stores-item-name {
    margin: 0 0 15px 0;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%; }
  td.stores-item-brand {
    margin: 0 0 15px 0;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%; }
  .store-brands-item {
    display: inline-block;
    margin: 0 2px 2px 0; }
  td.stores-item-metro {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%; }
  td.stores-item-address {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%; }
  td.stores-item-phones {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%; }
  header {
    min-height: 60px; }
  .header-r {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 70px; }
  .header-content {
    padding: 0 20px 0 20px; }
  .header-logo {
    padding: 18px 0 20px 0; }
  .header-logo img {
    width: 86px; }
  .navbar-trigger {
    display: block;
    position: fixed;
    right: 18px;
    top: 15px;
    z-index: 250;
    width: 30px;
    height: 30px;
    cursor: pointer; }
  .navbar-trigger span {
    position: absolute;
    left: 2px;
    right: 2px;
    height: 2px;
    background: #fff;
    transition: all .2s ease; }
  .navbar-trigger span:nth-child(1) {
    top: 6px; }
  .navbar-trigger span:nth-child(2) {
    top: 50%;
    margin-top: -1px; }
  .navbar-trigger span:nth-child(3) {
    bottom: 6px; }
  .navbar-trigger.active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
    margin-top: -1px; }
  .navbar-trigger.active span:nth-child(2) {
    opacity: 0; }
  .navbar-trigger.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 50%;
    margin-bottom: -1px; }
  .navbar-wrapper {
    display: none;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); }
  .navbar-wrapper-inner {
    width: 254px;
    margin-left: auto;
    min-height: 100%;
    background: #000;
    padding: 60px 30px 30px 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  ul.navbar-nav {
    display: block;
    margin: 0; }
  ul.navbar-nav > li {
    margin: 0 0 19px 0; }
  ul.navbar-nav a {
    padding: 0 !important;
    display: inline-block !important; }
  ul.navbar-nav > li.has-submenu > a:after {
    right: -30px;
    top: 1px;
    width: 20px;
    height: 20px;
    background-image: url(../images/menu-arrow-mob.png);
    background-size: 20px 12px;
    background-position: center center !important;
    -webkit-transform: none !important;
            transform: none !important;
    transition: all .2s ease; }
  ul.navbar-nav > li.has-submenu.open > a:after {
    -webkit-transform: rotate(180deg) !important;
            transform: rotate(180deg) !important; }
  .navbar-buttons .btn {
    width: 100%;
    margin: 10px 0 0 0;
    font-size: 13px !important;
    line-height: 18px !important;
    padding: 13px 55px 10px 16px !important;
    text-align: left; }
  .navbar-buttons .btn:after {
    top: 16px !important; }
  .submenu {
    display: none;
    position: relative;
    left: auto;
    text-align: left;
    height: auto;
    padding: 20px 0 0 10px;
    background: none;
    width: auto; }
  .submenu-pic {
    display: none; }
  .submenu-descr {
    padding: 0; }
  ul.submenu-list {
    -webkit-column-count: 1;
            column-count: 1;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
    letter-spacing: 0; }
  ul.submenu-list a,
  ul.submenu-list a:focus {
    color: #fff; }
  ul.submenu-list > li {
    margin: 0 0 15px 0; }
  main {
    padding: 60px 0 0 0; } }

@media (max-width: 767px) {
  label {
    font-size: 12px;
    line-height: 12px;
    margin: 0 0 6px 0; }
  input[type=text],
  input[type=email],
  input[type=password],
  textarea {
    font-size: 16px; }
  .form-checkboxes, .form-radios {
    margin: 13px 0 0 0; }
  input[type=radio] + label,
  input[type=checkbox] + label {
    font-size: 15px;
    line-height: 20px; }
  input[type=radio] + label:before {
    top: 0; }
  .filter .form-radio {
    margin: 0 0 12px 0; }
  .vacancy-form .form-agree input[type=checkbox] + label {
    font-size: 16px;
    line-height: 18px; }
  .bootstrap-select .dropdown-toggle {
    font-size: 16px; }
  #mobile-indicator {
    display: block; }
  body,
  html {
    font-size: 15px;
    line-height: 1.47; }
  h1,
  .h1 {
    font-size: 30px;
    line-height: 30px;
    text-align: center; }
  h2,
  .h2 {
    font-size: 28px;
    line-height: 30px; }
  h3,
  .h3 {
    font-size: 24px;
    line-height: 28px; }
  h4,
  .h4 {
    font-size: 22px;
    line-height: 26px;
    margin: 46px 0 16px 0; }
  .section h2, .section .h2 {
    margin: 0 0 25px 0; }
  main ul > li {
    padding: 0 0 0 35px; }
  main ul > li:before {
    width: 22px;
    background-size: 100% auto;
    top: 1px; }
  .vacancy-header h1,
  .vacancy-header .h1 {
    font-size: 30px;
    line-height: 30px; }
  #sm-indicator {
    display: block; }
  .header-r {
    display: none; }
  .page-header {
    height: 290px;
    margin-bottom: -60px; }
  .page-header .row > .col-6:nth-child(2) {
    display: none; }
  .page-header .row > .col-6:nth-child(1) {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%; }
  .page-menu {
    display: none; }
  .page-content-wrapper {
    position: relative;
    padding: 30px 10px 50px 10px;
    margin: 0 -10px 0 -10px; }
  .page-content-wrapper:before {
    content: "";
    background: #fff;
    position: absolute;
    right: 100%;
    top: 60px;
    left: -50px;
    bottom: 0; }
  .page-content-wrapper:after {
    content: "";
    background: #fff;
    position: absolute;
    left: 100%;
    top: 60px;
    right: -50px;
    bottom: 0; }
  .vacancy-header {
    position: relative;
    text-align: center; }
  .vacancy-header-r {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    right: 0;
    margin: 48px 0 0 0; }
  .vacancy-header-r img {
    height: 40px; }
  .vacancy-controls {
    padding: 20px 0 16px 0; }
  ul.vacancy-tags {
    font-size: 11px;
    line-height: 11px;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    min-height: 41px;
    margin: 0 0 -4px 0; }
  ul.vacancy-tags > li {
    margin: 0 0 4px 0; }
  ul.vacancy-tags > li:after {
    display: none; }
  .vacancy-controls-l {
    margin: 0 0 22px 0; }
  .controls-buttons {
    margin: 0 -6px -12px -6px; }
  .controls-buttons .btn {
    margin: 0 6px 12px 6px; }
  .btn-share,
  .btn-fav {
    width: 44px;
    height: 44px; }
  .controls-buttons .btn-1-med,
  .controls-buttons .btn-1-med:focus {
    padding: 11px 40px 9px 10px;
    -ms-flex-positive: 1;
        flex-grow: 1; }
  .controls-buttons .btn-1-med:after {
    top: 18px; }
  .vacancy-lead {
    font-size: 17px;
    line-height: 24px; }
  .article-button-wrapper .btn-1-big,
  .article-button-wrapper .btn-1-big:focus {
    width: 100%;
    padding: 20px 10px 17px 10px; }
  .article-button-wrapper .btn-1-big:after {
    display: none; }
  .section {
    padding: 50px 0 50px 0; }
  .section-group .section:first-child {
    padding-top: 50px !important; }
  .section-group .section:last-child {
    padding-bottom: 50px !important; }
  .why-tmb-descr {
    padding-bottom: 20px; }
  .why-list .row > *:nth-child(3) {
    -ms-flex-order: 4;
        order: 4; }
  .blockquote-alt-wrapper {
    margin: 100px 0 100px 0; }
  .blockquote-alt-wrapper:last-child {
    margin-bottom: 0; }
  .blockquote-alt-pics {
    margin: 0 -15px; }
  .blockquote-alt-pics .row > * {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%; }
  .blockquote-alt-pics .row > *:nth-child(1) {
    margin-top: 0;
    padding-right: 50px; }
  .blockquote-alt-pics .row > *:nth-child(2) {
    padding-left: 65px; }
  .blockquote-alt {
    margin: -31px 0 0 0;
    padding: 60px 25px 28px 25px; }
  .blockquote-alt-text {
    font-size: 22px;
    line-height: 26px; }
  .blockquote-alt:before {
    display: none; }
  .blockquote-alt-author {
    font-size: 11px;
    line-height: 15px;
    margin: 19px 0 0 0; }
  .blockquote-alt-author strong {
    display: block;
    margin: 0 0 5px 0; }
  .vac-list-alt {
    margin-right: 20px;
    margin-bottom: 10px; }
  .vac-list-alt .row {
    width: 285px;
    margin: 0; }
  .vac-list-alt .slick-slide {
    padding: 0;
    margin: 0 15px 0 0;
    height: auto;
    float: none;
    -ms-flex: 1;
        flex: 1;
    min-height: 100%;
    min-height: 270px; }
  .vac-list-alt .slick-list {
    overflow: visible;
    padding: 0; }
  .vac-list-alt .slick-track {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .vac-list-alt .vac-tmb {
    min-height: 100% !important;
    margin: 0; }
  .vac-tmb h3,
  .vac-tmb .h3,
  .vac-list-alt .vac-tmb h3,
  .vac-list-alt .vac-tmb .h3 {
    font-size: 20px;
    line-height: 20px; }
  .all-link-wrapper .btn {
    width: 100%;
    text-align: left; }
  .section-success .success-list {
    margin: 0 20px 44px 0; }
  .section-success .success-list .row {
    margin: 0;
    width: 285px; }
  .section-success .success-list .slick-list {
    overflow: visible; }
  .section-success .success-list .slick-slide {
    padding: 0;
    margin: 0 15px 0 0; }
  .section-success .success-tmb {
    margin: 0; }
  .section-success .success-tmb-pic {
    height: 220px;
    overflow: hidden; }
  .section-success .success-tmb-pic img {
    width: auto;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .success-tmb h3,
  .success-tmb .h3 {
    font-size: 20px;
    line-height: 24px; }
  .success-tmb-author {
    font-size: 12px;
    line-height: 18px;
    margin: 11px 0 0 0; }
  .faq-item-ttl {
    padding: 23px 50px 23px 48px; }
  .faq-item-ttl:after {
    right: 20px;
    margin-top: 0;
    top: 30px; }
  .faq-item-ttl h3, .faq-item-ttl .h3 {
    font-size: 20px;
    line-height: 24px; }
  .faq-item-content {
    font-size: 15px;
    line-height: 22px;
    padding: 0 30px 30px 48px; }
  .footer-content {
    padding: 60px 0 38px 0; }
  .footer-top {
    border-top-width: 5px;
    padding: 39px 0 0 0; }
  .footer-ttl {
    font-size: 30px;
    line-height: 30px; }
  .footer-button {
    margin: 32px 0 0 0; }
  .footer-button .btn {
    text-align: left;
    width: 100%; }
  .footer-bottom {
    margin: 101px 0 0 0; }
  .footer-bottom h3, .footer-bottom .h3 {
    font-size: 18px;
    line-height: 22px; }
  .footer-copy {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px; }
  .footer-copy-item {
    width: auto;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 0 5px 0; }
  .section-top {
    padding: 0; }
  .section-top .section-content {
    min-height: 500px;
    padding: 42px 0 30px 0; }
  .section-top h1, .section-top .h1 {
    font-size: 30px;
    line-height: 34px;
    margin: 0 0 14px 0; }
  .section-top-links .row {
    display: none; }
  .section-top-text-mob {
    font-size: 17px;
    line-height: 24px; }
  .section-top-links .btn {
    text-align: left;
    width: 100%; }
  .section-top-bg-r {
    display: none; }
  .section-top-bg-l {
    right: 0; }
  .section-reasons h2, .section-reasons .h2 {
    text-align: center;
    margin: 0 0 30px 0; }
  .reasons-slider-tabs {
    overflow: auto;
    display: block;
    white-space: nowrap;
    font-size: 0;
    margin-bottom: 32px; }
  .reasons-slider-tabs-item {
    display: inline-block;
    width: 130px !important; }
  .reasons-slider-tabs-item .num {
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 2px 0; }
  .reasons-slider-tabs-item .ttl {
    font-size: 15px;
    line-height: 22px; }
  .reasons-slider-tabs-item:before {
    top: 16px;
    margin-right: 30px; }
  .reasons-slider-tabs-item:after {
    top: 16px;
    margin-left: 30px; }
  .reasons-slider .slick-arrow {
    left: auto;
    top: 117px;
    margin: 0;
    bottom: auto;
    right: auto;
    width: 45px;
    height: 45px;
    background: #000; }
  .reasons-slider .slick-prev {
    left: -15px; }
  .reasons-slider .slick-next {
    right: -15px; }
  .reasons-slider .slick-arrow:before {
    content: "";
    width: 23px;
    height: 13px;
    background-image: url(../images/slider-arrows-mob-w.png);
    background-repeat: no-repeat;
    background-size: 46px 13px;
    position: absolute;
    top: 15px;
    margin: 0; }
  .reasons-slider .slick-prev:before {
    left: 11px;
    right: auto;
    background-position: 0 0; }
  .reasons-slider .slick-next:before {
    right: 11px;
    background-position: -23px 0;
    left: auto; }
  .reasons-slider-nav {
    display: none; }
  .reasons-item-pic {
    margin: 0; }
  .reasons-item-pic-back {
    margin: 0 50px 0 0; }
  .reasons-item-pic-front {
    bottom: 41px;
    top: 29px; }
  .reasons-item h3, .reasons-item .h3 {
    font-size: 28px;
    line-height: 28px;
    margin: 0 0 13px 0; }
  .reasons-item-descr {
    padding: 38px 0 0 25px;
    font-size: 15px;
    line-height: 22px; }
  .dept-teaser-pic {
    margin: 0 -15px; }
  .dept-teaser-pic:before {
    background: linear-gradient(to top, rgba(196, 196, 196, 0.6) 0%, rgba(196, 196, 196, 0) 50%); }
  .dept-teaser-descr {
    padding: 0;
    margin: -10px 0 0 0;
    font-size: 15px;
    line-height: 22px; }
  .dept-teaser-descr h2, .dept-teaser-descr .h2 {
    font-size: 30px;
    line-height: 28px; }
  .dept-teaser-button .btn {
    font-size: 0;
    line-height: 0;
    min-width: 190px;
    text-align: left; }
  .dept-teaser-button .btn:before {
    content: "Подробнее";
    font-size: 14px;
    line-height: 24px; }
  .section-sub-ttl {
    font-size: 15px;
    line-height: 22px; }
  .all-link-wrapper-alt .btn {
    width: 100%; }
  .cat-tmb {
    font-size: 15px;
    line-height: 22px;
    padding: 20px;
    min-height: 350px;
    margin: 0 0 15px 0; }
  .cat-tmb h3, .cat-tmb .h3 {
    font-size: 30px;
    line-height: 28px; }
  .cat-tmb-button .btn {
    font-size: 0;
    line-height: 0;
    width: 100%;
    text-align: left; }
  .cat-tmb-button .btn:before {
    content: "Подробнее";
    font-size: 14px;
    line-height: 24px; }
  .article-button-wrapper {
    margin: 30px 0 30px 0; }
  .article-button-wrapper .btn {
    width: 100%; }
  .why-tmb {
    margin: 0 0 5px 0;
    min-height: 0; }
  .why-tmb-num {
    font-size: 70px;
    line-height: 70px; }
  .why-tmb-descr {
    padding-top: 8px; }
  .col-md-8 .block-wide {
    margin-left: 0; }
  .dept-list {
    margin: 36px 0 22px 0; }
  .dept-list .row > *:nth-child(2n) {
    margin-top: 30px;
    margin-bottom: -30px; }
  .dept-tmb {
    padding: 0;
    height: auto;
    margin: 0 0 32px 0; }
  .dept-tmb-pic {
    position: relative;
    padding-top: 100%;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    margin: 0 0 6px 0; }
  .dept-tmb h3, .dept-tmb .h3 {
    font-size: 15px;
    line-height: 16px;
    color: #000;
    margin: 0;
    letter-spacing: 0; }
  .career-list {
    margin-bottom: -91px; }
  .career-item {
    margin: 0 0 91px 0; }
  .career-item h2, .career-item .h2 {
    font-size: 30px;
    line-height: 28px;
    margin: 0 0 15px 0; }
  .career-item-pic {
    margin: 0 -15px -13px -15px; }
  .career-item-button {
    margin: 26px 0 0 0; }
  .career-item-button .btn {
    width: 100%; }
  .section-group .section + .section {
    padding-top: 36px; }
  .gallery-slider {
    margin: 0 -15px 43px -15px; }
  .gallery-slider .slick-prev {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    -webkit-transform-origin: left center;
            transform-origin: left center; }
  .gallery-slider .slick-next {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    -webkit-transform-origin: right center;
            transform-origin: right center; }
  .gallery-slider ul.slick-dots {
    position: absolute;
    left: 15px !important;
    right: 15px !important;
    bottom: -43px !important;
    top: auto !important;
    margin: 0 -6px; }
  .gallery-slider ul.slick-dots > li {
    margin: 0 6px; }
  ul.page-tabs {
    display: none; }
  .page-tabs-mob {
    margin: -30px -10px 36px -10px; }
  .btn-dropdown-toggle {
    width: 100%;
    position: relative;
    background: #EDEDED !important;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */
    text-align: right;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 16px 50px 18px 20px;
    color: #000000;
    text-align: left !important; }
  .btn-dropdown-toggle:after {
    content: "";
    width: 11px;
    height: 6px;
    background: url(../images/dropdown-arrow-mob.png) 0 0 no-repeat;
    background-size: 11px 6px;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -3px;
    border: none; }
  .page-tabs-mob .dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.15);
    font-size: 17px;
    line-height: 20px;
    max-width: 100%;
    margin: 0;
    padding: 0;
    width: 100%; }
  .page-tabs-mob .dropdown-item {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 16px 50px 18px 20px;
    text-decoration: none !important; }
  .vacancy-form {
    margin: 56px 0 0 0; }
  .vacancy-form .form-section {
    padding: 35px 0 35px 0; }
  .vacancy-form .form-section:before {
    z-index: 20; }
  .btn-add,
  .btn-add:focus {
    font-size: 13px; }
  .file-caption {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .file-input .input-group-btn {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .btn-file,
  .btn-file:focus {
    font-size: 13px !important; }
  .btn-1-bigger,
  .btn-1-bigger:focus {
    font-size: 13px; }
  .btn-1-bigger:after {
    right: 20px;
    top: 23px; }
  ul.breadcrumb {
    display: none; }
  .page-title-alt {
    margin: 0;
    padding: 0; }
  .col-md-8 > .page-title-alt {
    padding: 30px 10px 0 10px;
    margin: 0 -10px; }
  .page-content-wrapper:before,
  .page-content-wrapper:after {
    background: #EDEDED; }
  .page-sidebar {
    margin: 0;
    padding: 0; }
  .filter {
    margin: 0 -10px -15px -10px;
    padding: 30px 10px 0 10px;
    max-width: initial; }
  .page-body-grey .filter {
    background: #EDEDED; }
  .mob-popup {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.6);
    overflow: auto;
    padding: 15px; }
  .mob-popup-content {
    background: #fff;
    position: relative;
    padding: 15px 20px 20px 20px; }
  .mob-popup .close {
    cursor: pointer;
    width: 17px;
    height: 17px;
    background: url(../images/close-mob.svg) 0 0 no-repeat;
    opacity: 1 !important;
    position: absolute;
    right: 20px;
    top: 20px; }
  .mob-popup-header {
    padding: 0 40px 0 0;
    margin: 0 0 22px 0; }
  .mob-popup-header h2,
  .mob-popup-header .h2 {
    font-size: 20px;
    line-height: 26px;
    margin: 0; }
  .list-controls-mob {
    display: -ms-flexbox !important;
    display: flex !important;
    margin: 0 -7px 0 -8px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .list-controls-mob-col-1 {
    padding: 0 7px 0 8px;
    -ms-flex-positive: 1;
        flex-grow: 1; }
  .list-controls-mob-col-2 {
    padding: 0 7px 0 8px;
    -ms-flex-positive: 0;
        flex-grow: 0; }
  .btn-filter-mob {
    background: #000;
    color: #fff;
    position: relative;
    cursor: pointer;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    padding: 14px 40px 18px 15px; }
  .btn-filter-mob:after {
    content: "";
    width: 9px;
    height: 6px;
    background: url(../images/ico-btn-filter-mob.png) 0 0 no-repeat;
    background-size: 9px 6px;
    position: absolute;
    right: 15px;
    top: 24px; }
  .filter-search-form {
    margin: 0 0 15px 0; }
  .form-item-sort .bootstrap-select {
    min-width: 0 !important; }
  .form-item-sort .bootstrap-select .dropdown-toggle {
    font-size: 0;
    padding: 0 !important;
    border: none !important;
    width: 52px !important;
    height: 52px !important;
    background: #fff url(../images/ico-sort-mob.svg) center center no-repeat !important; }
  .form-item-sort .bootstrap-select .dropdown-toggle:after {
    display: none; }
  .form-item-sort .bootstrap-select .dropdown-toggle .filter-option {
    display: none !important; }
  .form-item-sort .dropdown-menu {
    left: auto !important;
    right: 0 !important;
    width: 290px;
    max-width: 1000px;
    -webkit-transform: none !important;
            transform: none !important;
    top: 100% !important; }
  .mob-popup .btn-close {
    width: 100%;
    margin: 7px 0 0 0; }
  .vac-wrapper .list-controls {
    display: none; }
  .vac-wrapper .list-controls-bottom {
    display: block; }
  .list-controls-bottom .list-controls-r {
    display: none; }
  .vac-r {
    display: none; }
  .vac-tmb {
    margin: 0 0 15px 0;
    padding: 17px 15px 17px 15px; }
  .vac-tmb-fav {
    margin: -4px 0px 0 30px; }
  .vac-tmb-place {
    font-size: 14px;
    line-height: 18px; }
  .vac-tmb-logo {
    margin: 0 0 5px 0; }
  .page-body {
    padding-bottom: 0; }
  .wide-page-wrapper {
    padding: 0 0 50px 0; }
  .popup {
    padding: 0 0 0 15px; }
  .popup .close {
    cursor: pointer;
    width: 19px;
    height: 19px;
    background: url(../images/close-mob-alt.svg) 0 0 no-repeat;
    opacity: 1 !important;
    position: absolute;
    right: 20px;
    top: 20px; }
  .popup-header-title {
    position: relative;
    padding: 0 15px 0 0; }
  .popup-header-title-l {
    padding: 30px 15px 0 15px; }
  .popup-header-title-r {
    padding: 0;
    position: absolute;
    right: 25px;
    top: -26px; }
  .popup-soclinks {
    padding: 0;
    margin: 0; }
  .popup-soclink {
    width: 52px;
    height: 52px;
    margin: 0 10px; }
  .popup-header-title h2, .popup-header-title .h2 {
    font-size: 19px;
    line-height: 22px; }
  .popup-header-post {
    font-size: 12px;
    line-height: 15px; }
  .popup-body {
    padding: 28px 15px 66px 15px;
    font-size: 15px;
    line-height: 22px; }
  .story-info {
    display: block;
    margin: 0 0 46px 0; }
  .story-info-item {
    padding: 12px 15px 12px 15px; }
  .story-info-item + .story-info-item {
    border-left: none;
    border-top: 3px solid #000; }
  .story-info-item-ttl {
    font-size: 12px;
    line-height: 14px; }
  .story-info-item-descr {
    font-size: 20px;
    line-height: 20px;
    margin: 26px 0 0 0; }
  .story-info-item .big {
    font-size: 48px;
    line-height: 42px; }
  .blockquote-story {
    font-size: 26px;
    line-height: 26px;
    margin: 43px 0;
    padding: 0; }
  .blockquote-story:before {
    display: none; }
  .popup h3, .popup .h3 {
    font-size: 20px;
    line-height: 20px;
    margin: 43px 0 16px 0; }
  .block-popup-wide {
    margin: 0; }
  .popup-pics {
    margin: 57px 0; }
  .popup-pics .row {
    display: block !important;
    margin: 0 !important; }
  .popup-pics .col-6 {
    width: auto !important;
    max-width: 100%; }
  .popup-pics .col-6:nth-child(1) {
    margin: 0 48px 0 -15px; }
  .popup-pics .col-6:nth-child(2) {
    margin: 0 -15px 0 48px; }
  .next-story-link {
    min-height: 290px; }
  .next-story-link-ttl {
    font-size: 12px;
    line-height: 15px; }
  .next-story-link-name {
    font-size: 19px;
    line-height: 22px;
    margin: 0 0 11px 0; }
  .next-story-link-post {
    font-size: 12px;
    line-height: 15px;
    min-height: 30px;
    padding: 0 70px 0 0; }
  .next-story-link-descr {
    padding: 25px 15px 28px 15px; }
  .next-story-link-arrow {
    width: 42px;
    height: 42px;
    right: 15px;
    bottom: 15px; }
  .next-story-link-arrow img {
    -webkit-transform: scale(0.75);
            transform: scale(0.75); } }
